[2014-08-01 19:54] jurgenvinju opened #627 "Being able to check for 'being set' of keyword parameters"
There is a need from the Figure library to be able to programmatically detect the difference between a a keyword parameter which is set by default and one which is set otherwise. The reason is optimization of the serialization and transfer of data values with lots of keyword parameters. By not serializing defaults the data is more readable and faster to (de)serialize.

### issues

* the current im

[2014-08-04 10:05] jurgenvinju opened #628 "auto-wrap enhancement"
When constructing or pattern matching large data types the number of names and brackets is often an impediment. People sometimes use aliases over tuple types to circumvent this problem. Aliases have their issues and we prefer everybody to use clear and simple data types, so we need something to solve the syntactic vinegar.

One idea would be to have the type checker infer constructors (probably fu

[2014-08-04 10:48] #612 closed, assigned to nobody

[2014-08-05 08:25] PaulKlint opened #629 "NullPointerException when calling function with keyword parameters"
The function `execute` is part of the compiler infrastructure and is defined in `experiments::Compiler::Execute`. It has the following signature:

[code]

Function `execute` used to work fine but now I get the following:

[code]

Any ideas?

[2014-08-05 08:37] PaulKlint opened #630 "Improve nullary constructors"
In our current setup, nullary functions and constructors need an empty list of arguments, e.g.,
[code]
and we have to write ```f( ..., align=left(), ...)```.

I observe that I frequently resort to using variables to avoid this notational overhead, e.g.,
[code]
and write: ```f(..., align=left, ...)```. This is not good practice for the following reasons:
- Since we do not have constants (may the su

[2014-08-05 09:42] #629 closed, assigned to nobody

[2014-08-07 20:45] #458 closed, assigned to nobody

[2014-08-08 19:11] #465 closed, assigned to nobody

[2014-08-11 15:42] #625 closed, assigned to nobody

[2014-08-12 19:15] PaulKlint opened #631 "Does the type checker know about "parent" field in locations?"
Compiling `|rascal:///analysis/m3/Registry.rsc|` gives:

[code]

In both cases, blame is incorrectly on  the assignment `name = name.parent` (where `name` is a parameter of type `loc`). Maybe the type checker does not handle the `parent` field correctly?

[2014-08-12 20:05] #631 closed, assigned to nobody

[2014-08-12 20:11] #483 closed, assigned to mahills

[2014-08-12 20:43] PaulKlint opened #632 "Typechecker gives type error in function collectTypeVars"
I am on a journey to compile all 755 Rascal files in the Rascal project trying to find all trouble spots. Here is one:

[code]

[2014-08-13 05:08] #494 closed, assigned to nobody

[2014-08-13 15:41] PaulKlint opened #633 "Please help: assess type errors in existing Rascal programs"
Here follows --- in our effort (and in particular that of @mahills to get the type checker up and running) --- a list of 297 Rascal programs (out of a total of 755 programs) that currently produce type errors. We need your help to
- Correct real errors
- Spot cases where the type checker gives erroneous error messages.

We have the following priorities:
- ```m3``` and ```lang/java``` related
- too

[2014-08-14 08:44] DavyLandman opened #634 "Add params field to the location type in the TypeChecker"
[code]

is incorrect, it does exists and it's type is a `map[str,str]`.

(related to issue #633 )

[2014-08-14 08:48] DavyLandman opened #635 "Type checker has an issue around calling a function with type variables?"
Type checking `lang::csv::IO` there are two function calls which get the following message:

[code]

The message is confusing for me, since the types appear to be exactly similar?

( related to issue #633 )

[2014-08-14 13:52] #634 closed, assigned to nobody

[2014-08-14 21:08] mahills opened #636 "Improve declaration merging in checker to better handle safe duplicates"
In some cases (especially when the same module imports a module `M` and a module `N`, and `N` extends `M`) duplicate definitions are processed. These occasionally cause problems since they look like overlaps -- the same name defined with the same type signature, but in a different module (since both `N` and `M` appear to provide the definition directly). The type signatures should be improved to b

[2014-08-15 01:22] #632 closed, assigned to nobody

[2014-08-15 02:31] mahills opened #637 "Add support for constructor keyword parameters in APIGen.rsc"
As part of fixing type errors I added the spots for keyword parameter information into the pattern match for constructors, but there is no code that does anything with them. If we plan to continue using APIGen, someone will need to write the code needed to support constructor-level keyword parameters.

[2014-08-15 02:33] #482 closed, assigned to mahills

[2014-08-15 20:27] PaulKlint opened #638 "Allow qualified names in concrete patterns"
Based on the discussion in #502, we need to extend the Rascal syntax to permit qualified names in the symbol that types a concrete syntax fragment or ConcreteHole.

It concerns the following syntax rules:
[code]

[2014-08-17 10:05] jurgenvinju opened #639 "NullPointerException in Throw"
[code]

[2014-08-19 08:37] #97 closed, assigned to nobody

[2014-08-19 08:43] #218 closed, assigned to nobody

[2014-08-19 08:44] #266 closed, assigned to nobody

[2014-08-19 08:45] #359 closed, assigned to nobody

[2014-08-19 09:11] #372 closed, assigned to nobody

[2014-08-19 09:13] #369 closed, assigned to nobody

[2014-08-19 09:14] #580 closed, assigned to DavyLandman

[2014-08-19 09:14] #257 closed, assigned to nobody

[2014-08-19 09:15] #607 closed, assigned to nobody

[2014-08-19 10:38] PaulKlint opened #640 "Type checker does not known yet about expressions in default parameters"
Since the latest overhaul of keyword parameters we allow expressions as default value. They are executed from left to right and positional parameters and keyword parameters to the left of a default expression can be used in it. Here is an example:

[code]

Currently, the type chcker complains for `int area = width * height` and `int volume = area * depth` that the variables `width`, `height`, `are

[2014-08-19 13:31] jurgenvinju opened #641 "statistics libraries do not work on arbitrary ints"
The gini functions for example work on double internally. See src/org/rascalmpl/library/analysis/statistics/Inferences.java

[2014-08-21 05:30] jurgenvinju opened #642 "random test pathAdditions1 failed once, but not anymore."
[code]

[2014-08-21 12:08] #642 closed, assigned to nobody

[2014-08-21 12:24] basbrekelmans opened #643 "Anonymous classes do not show up in Implements and Extends"
When generating an M3 model, anonymous classes do not appear in the M3 model (anymore).

Example, Java project `AnonymousClassTest` containing one class with this code:

[code]

We can see the following output:

[code]

It seems that the override is detected, but the extends relation is omitted from the M3 model. And would a method override not by definition imply an extends or implements relation

[2014-08-21 13:38] #643 closed, assigned to nobody

[2014-08-24 12:22] ruudvanderweijde opened #644 "replaceAll with an empty `find` string results in endless loop."
It seems like replaceAll is endlessly looking for an empty string, when an empty string is provided as `find` parameter.
Should not be a big deal as it makes no sense to replace nothing.

To reproduce:

[code]

[2014-08-24 13:01] #644 closed, assigned to nobody

[2014-08-28 08:42] caytekin opened #645 "writeBinaryValueFile crashes with Runtime exception when writing M3 to a file."
After creating an M3, I am using writeBinaryValueFile to cache the M3 in a file. It used to work properly the previous months, but now it crashes with the follwoing exception:

[code]

The problem seems to arise from this warning that can be found in the M3 model:

[code]

When we did declare a serialVersionUID field, the exception does not occur.
However, many analyzed Java projects may have this

[2014-08-28 09:38] jurgenvinju opened #646 "Keyword parameters for constructors revisited"
This issue exists to log an ongoing discussion on the semantics of keyword parameter for constructors.

Side notes up front:
- this is not about keyword parameters for functions, although related (see below)
- our current master is broken in subtle ways due to the laziness of instantiating default parameters
- the type checker and compiler projects are hampered by complexity
- the Figure library i

[2014-08-28 19:29] jurgenvinju opened #647 "Keyword parameters trigger antisymmetricLTE test failure"
[code]

[2014-08-30 08:00] PaulKlint opened #648 "toJSON generates incorrect scheme value in locations"
`toJSON` incorrectly changes the scheme in source locations; here from `tmp` to `file`:

[code]

[2014-08-31 13:03] ruudvanderweijde opened #649 "An internal error occurred during: "Rascal parser"."
I'm unable to parse most rascal files after updating.
Version: 0.6.2.201408301950

The exception stack trace comes from the error log. The same error occurs when trying to import the files in the console.
For some reason, after commenting and un-commenting all code (cmd+a -> cmd+/ -> cmd+/), it seems to be fine.

Exception Stack Trace:
[code]

Session Data:
[code]

[2014-09-10 09:07] MagielBruntink opened #650 "Memo-ed M3 getter functions (e.g. methods) produce outdated results if the M3 model has changed"
Some M3 getter methods (e.g. methods()) are memo-ed. If the underlying M3 model changes (for instance because you changed some of the code that you are processing), but the location of the source does not change, the getter methods keep returning outdated results.

For instance you do:
mmm = createM3FromDirectory(|project://test|);

Where you have a Java file:
public class Test {
    void LINES_1_

[2014-09-10 09:54] MagielBruntink opened #651 "Field selection on locations broken?"
For instance the following:

[code]

Gives:

[code]

And:

[code]

Gives no output at all.

[2014-09-10 10:01] #651 closed, assigned to nobody

[2014-09-22 09:25] LemmingAvalanche opened #652 "Link to rascal tutor webpage for UndeclaredJavaMethod error is dead"
I got this message while trying to run a Rascal file in Eclipse:

[code]

But the webpage that "Advice" is supposed to link to, namely

[code]

Gives a `404`.

This isn't the only webpage that isn't available; for example

[code]

Gives back `404`. So the issue might be that the advisor points to many links that are now defunct for whatever reason, rather than just a few isolated webpages having b

[2014-09-22 16:18] LemmingAvalanche opened #653 "Checking out this repository into Eclipse workspace breaks Rascal"
I had checked out this repository into my workspace. Eventually (I don't think these problems were there from the start of the import of this project, or were quite as severe), I could not run rascal files. Imports from standard library didn't seem to work, either (specifically: `import IO;`). And I couldn't use the `syntax` constructs. But once I deleted this repository from the workspace, everyt

[2014-09-23 11:42] basbrekelmans opened #654 "Location for storing Java M3 and AST files"
For my Master's thesis project I have a computer that has been collecting M3 and AST `writeBinaryValueFile` results for a few days now. I collected around 2GB of files up until now. Is there a central location where we can store and share these files, in order to make future research on empirical Java systems easier?

The data types I serialized:
- `M3` for M3 files
- `map[loc, Declaration]` for A

[2014-09-24 08:44] PaulKlint opened #655 "TC: Names leak from imported module"
The following works fine:

[code]

but when we rename `E1` to `E` it suddenly clashes with the `E` (for the mathematical constant) defined in `util::math` imported by `Set`:

[code]

we get

[code]

[2014-09-24 10:18] PaulKlint opened #656 "TC: unrecognized common keyword parameter in data declaration"
The common keyword parameter `lineColor` in

[code]

gives

[code]

[2014-09-24 12:54] PaulKlint opened #657 "TC: overloading a function with non-terminal resp. str argument does not work"
[code]

gives

[code]

However, renaming the first defined eval (`int eval(str txt)`) and its call  to `eval_str` solves the issue.

[code]

[2014-09-25 12:38] PaulKlint opened #658 "TC: looses imported productions"
It seems that imported productions are not included in `config.grammar` as returned by the type checker. (This prevents the compiler from doing proper type reification.)

Take `demo::lang::Exp::Concrete::NoLayout::Eval` as example. Type checking the original version (with `int eval(str txt)` commented out, see Issue #657):

[code]

gives an empty `config.grammar` while inlining the grammar works f

[2014-09-25 12:41] #480 closed, assigned to Anastassija

[2014-09-25 12:42] #277 closed, assigned to mahills

[2014-09-27 20:58] PaulKlint opened #659 "fromJSON returns incorrect scheme for source location"
Consider the following:

[code]

and magically the scheme has been changed from `tmp` to `file`.

[2014-09-27 21:16] #659 closed, assigned to tvdstorm

[2014-09-27 22:48] #542 closed, assigned to tvdstorm

[2014-09-28 08:40] PaulKlint opened #660 "Amazing inequality of two lists containing the same number"
Can anyone explain what is goin on here? It looks very weird!

[code]

[2014-09-29 16:07] #660 closed, assigned to nobody

[2014-09-29 22:21] #656 closed, assigned to mahills

[2014-09-30 05:57] PaulKlint opened #661 "TC does not yet support the use of preceding parameters in default expressions"
We have recently made the rules for default expressions more liberal: a default expression may now refer to the value of preceding (keyword) parameters in the same declaration.

The type checker does not yet support this. Here is an example:

[code]

gives:

[code]

[2014-09-30 06:15] #658 closed, assigned to mahills

[2014-09-30 06:16] #657 closed, assigned to mahills

[2014-09-30 06:17] basbrekelmans opened #662 "NullPointerException traversing a Java AST"
NullPointerException occurs while visiting a Java AST. Note that I can traverse that exact AST multiple times and the error seems to occur in a nondeterministic fashion (maybe 50% of the time).
Only seems to occur for large ASTs (>100MB serialized & compressed)

The error is contained in a try..catch block in Rascal but is not caught; the program ends immediately. I have a long running process tha

[2014-10-01 14:27] jurgenvinju opened #663 "failed random test antiSymmetricLTESame"
[code]

[2014-10-16 19:00] PaulKlint opened #664 "Datetime failures in JSON tests"
Suddenly there are some JSON tests that fail for `datetime` values. Can this be caused by the recent change in the `datetime` implementation?

[code]

gives

[code]

Note the `+1:00` rather than `+00:00`. Is this a `datetime` error or an error in the `JSON` library? Any ideas?

[2014-10-17 14:40] BertLisser opened #665 "Visit ignores keyword parameters"
[code]

The same input tree, but a different result after `visit`.

[code]

[2014-10-20 10:47] jurgenvinju opened #666 "TC propagates some spurious error messages"
[code]

in this code the first comprehension can not be type checked due to an ambiguous use of the \public() constructor, but the following error messages complain about a name `allPublicMethods` not being in scope. I guess that even though the definition of a variable is type incorrect, it should not mean that the name is not defined in scope.

[2014-10-20 10:49] jurgenvinju opened #667 "TC includes Rascal syntax definition?"
Hi,

I've found a few cases where suddenly the definitions of the Rascal syntax definition itself become visible in the type checker, which leads to unexpected name clashes.

Haven't pinpointed the exact cause, but these are the relevant imports for the current case:

[code]

[2014-10-20 20:05] jurgenvinju opened #668 "TC reports spurious error for initializer expressions of keyword parameters"
The following module generates spurious errors:

[code]

[2014-10-21 18:58] jurgenvinju opened #669 "statistics libraries have unexpected precision behavior"
For example from `analysis::statistics::Descriptive`:

[code]

This is probably due to an internal mapping to Java's floats or doubles.

[2014-10-24 12:23] #655 closed, assigned to mahills

[2014-10-25 19:08] jurgenvinju opened #670 "enhancement: warning for unused pattern variables (use underscore instead)"

[2014-10-25 20:01] PaulKlint opened #671 "config generated by TC does not contain transitively imported constructor names"
It seems that constructor names from transitively imported constructor names are not placed in the `config` generated by the type checker. These are very recent failures and I guess that  they are closely related to the latest changes in the manner in which productions are included in `config`.

An example is below. When the compiler tries to compile `Tst3`, it cannot reify the `Box` data type sin

[2014-10-27 16:24] jurgenvinju opened #672 "arbSeed(0) does not work for tutor"
I get new random questions generated with every recompile of the Rascal course. This produces a lot of noise.

[2014-10-28 07:28] jurgenvinju opened #673 "Type-checking the tutor"
It was one of the earliest big programs, so you can imagine there are quite a few static errors in this code.

[2014-10-28 07:48] jurgenvinju opened #674 "Type constraint pattern matching does not do anything"
[code]

[2014-10-28 08:37] jurgenvinju opened #675 "Constructors in patterns also resolved to normal functions"
In this example the f in the pattern is resolved to the function `f()` as well, while patterns are always for constructors. This could also cause problems with type inference, making it less accurate than possible.

[code]

[2014-10-28 12:39] jurgenvinju opened #676 "In Tutor a screen can not start or end with comments"
Use of comment at the start or end of a screen will remove everything but the last comment in the screen:

[code]

[2014-10-28 22:01] PaulKlint opened #677 "Strange error in lang::csv::IO: string starting with digit is seen as int"
While testing the compiled version of `lang::rascal::tests::library::lang::csv::CSVIOTests` I get failing tests that I can also reproduce in the interpreter version. Essentially, writing a value `{<"1m0",-2144118286>}` and then reading it back leads to an incorrectly inferred type, `rel[int \field0,int \field1]` (which should of course be `rel[str \field0,int \field1]`). My guess, the value `"1m0"

[2014-10-29 12:38] DavyLandman opened #678 "Visiting a node with keyword parameters throws an exception."
[code]

throws:

[code]

[2014-10-29 12:48] #678 closed, assigned to nobody

[2014-10-29 12:54] DavyLandman opened #679 "Visiting on a Node or an ADT does not go into keyword parameters and loses them in case of a Node"
[code]

prints:

[code]

So it did not traverse into the keyword parameter, and did not replace it.

The same problem is present with node, after fixing #678 it at least can visits the node, but completly drops the keyword parameters.

[code]

prints:

[code]

[2014-10-29 13:11] grammarware opened #680 "Colour scheme compatibility"
Today, @zisimo noticed that the colour scheme of Rascal is hard-coded, which is a pity since Eclipse allows you to choose among a variety of schemes, including ones with dark background, which collaborate badly with the purple keywords of Rascal.

The `registerContributions` works so nicely to define colour schemes for other languages we create with Rascal, so can we also haz this for Rascal itsel

[2014-10-29 13:22] #664 closed, assigned to nobody

[2014-10-29 17:35] #665 closed, assigned to nobody

[2014-10-29 17:35] #679 closed, assigned to nobody

[2014-10-29 19:26] #648 closed, assigned to tvdstorm

[2014-10-29 20:37] #647 closed, assigned to nobody

[2014-10-29 22:28] jurgenvinju opened #681 "parsing a parse tree from string leads to RedeclaredConstructorException"
[code]

[2014-10-29 22:29] mahills opened #682 "negative patterns are ambiguous"
If I type in the following:

[code]

this is ambiguous, as are a variety of other attempts to do this (e.g., replacing the `5` with a variable). Here is the actual message:

[code]

[2014-10-30 08:50] MagielBruntink opened #683 "Applying closure operators to mixed type relation throws exceptions, should be Rascal error"
[code]

[2014-10-30 18:56] jurgenvinju opened #684 "Simple figure example with interaction in tutor does not work"
http://tutor.rascal-mpl.org/Recipes/Visualization/InteractiveBoxHeight/InteractiveBoxHeight.html#comment-1660962001

[2014-10-31 13:54] atzeus opened #685 "Typechecker incorrectly reports error on list of tuples"
Type checker incorrectly gives an error when indexing a list containing tuples

minimal example:

tuple[str,int] xs = [<"bla",9>][0];

Suprisingly,  this gives no error:

tuple[int,int] xs = [< 1 , 9 >][0];

[2014-10-31 15:16] #683 closed, assigned to nobody

[2014-11-02 22:20] PaulKlint opened #686 "Type checker does not yet handle parameterized nonterminals"
The Rascal grammar uses three parameterized non-terminals, defined as follows:

[code]

The type checker does not yet handle these: (derived from real code in `RascalExpression`):

[code]

gives

[code]

[2014-11-03 21:24] PaulKlint opened #687 "Type checker does not support (indirect) sub-typing between nonterminal and node"
The type checker _does_ recognize that a nonterminal type is a subtype of `Tree`.
However, `Tree` is a subtype of `node` and therefore any nonterminal is a subtype of node, but that is not yet supported. See this example:

[code]

gives:

[code]

[2014-11-04 21:40] #687 closed, assigned to mahills

[2014-11-05 16:16] MagielBruntink opened #688 "Iterating over list of closures does not result in proper type inference"
Pavol Kincil (SE student) found some surprising behavior. Following code is from util::LOC
[code]
Calling isNewLineChar(5) for instance results in the error:
[code]

It works if you change isNewLineChar like so:
[code]

Either the code in util::LOC is outdated (probably) or the type inference is not behaving as expected.

[2014-11-06 13:01] PaulKlint opened #689 "Type checker does not handle named pattern properly"
The following example declares variable `u` twice in a named pattern in the same scope. I would expect to get an error message about the double declaration. However, I get no error message and later the compiler discovers that there is no declaring information for the second occurrence of `u`. Change the second introduction to `u2` and everything works fine.

[code]

[2014-11-06 14:23] DavyLandman opened #690 "Resolved functions location not working in Eclipse 2nd level / Release"
When running the type checker it nicely annotates the functions with it's definition sites.

If you do this on a library function inside 2nd level or in an eclipse running a rascal release, it will resolve to a `|bundleresource://..|` location. Clicking that will fail and report an exception: `scheme bundleresource not supported`.

Stack trace:

[code]

[2014-11-07 08:50] #690 closed, assigned to nobody

[2014-11-07 10:03] aserebrenik opened #691 "ln (util::Math) fails for very small numbers"
[code]

[2014-11-07 10:09] #691 closed, assigned to nobody

[2014-11-07 10:40] aserebrenik opened #692 "power function for non-natural powers"
At the moment `util::Math` has a function `pow` to calculate x^y for natural y. It would be great to extend this function for non-natural powers. I could use this functionality, e.g., to implement the generalised entropy function.

[2014-11-08 19:46] #692 closed, assigned to nobody

[2014-11-09 03:36] #661 closed, assigned to mahills

[2014-11-09 03:40] #668 closed, assigned to nobody

[2014-11-09 03:48] #640 closed, assigned to nobody

[2014-11-09 15:29] #689 closed, assigned to mahills

[2014-11-10 09:02] MagielBruntink opened #693 "Javadoc for fields is not added to M3@documentation"
The following Javadoc comment does not end up in the M3@documentation relation:

[code]

[code]

result is

[code]

[2014-11-10 11:37] #693 closed, assigned to nobody

[2014-11-10 12:10] ashimshahi opened #694 "Random failure of test tstSplit during Jenkins build"
[code]

[2014-11-10 19:24] jurgenvinju opened #695 "TC: ambiguous type name can not be used even after disambiguation with qualified name"
[code]

There is another `Grammar` in scope, a syntax sort, which is why the g needed to be qualified. This helps, but now the `g.rules` complains:

[code]

So somehow it has lost the qualification again and there is no manual way to circumvent this. At least none that I know of. Please advise.

[2014-11-10 22:02] #695 closed, assigned to mahills

[2014-11-10 22:03] mahills opened #696 "Ensure checker is using global maps for ADTs and sorts"
This is just a reminder to myself -- the checker should use the global sort and ADT maps whenever possible, since this will still allow lookups even if the unqualified type name is not in scope (for instance, because a concrete and abstract type of the same name are both imported).

[2014-11-11 08:26] PaulKlint opened #697 "Recently introduced error in TC: cannot check Characters.rsc"
Checking `|rascal:///lang/rascal/grammar/definition/Characters.rsc|` did work before but now it gives many errors like this:

[code]

[2014-11-11 09:14] PaulKlint opened #698 "TC considers Module as undefined while it is imported, maybe because it is a start symbol?"
Checking `|rascal:///experiments/Compiler/Rascal2muRascal/RascalModule.rsc|` gives a single remaining error and a warning (despite the fact the Rascal grammar is imported and `Module` should thus be defined):

[code]

The offending declaration is:

[code]

In the Rascal grammar `Module` is defined as:

[code]

Can this issue be caused by the fact that `Module` is a start symbol and only the type `

[2014-11-11 09:52] PaulKlint opened #699 "TC assigns list variable non-list type"
[code]

gives

[code]

[2014-11-11 12:45] PaulKlint opened #700 "TC does not copy all keyword rules of grammar to importing module"
The following module is fine:

[code]

and the `"kw1"`, `"kw2"` and `"kw3"` are nicely included in the checker configuration:

[code]

However, when importing `Tst` in another module only `"kw3"` remains:

[code]

[2014-11-11 17:57] #699 closed, assigned to mahills

[2014-11-11 21:22] #697 closed, assigned to mahills

[2014-11-12 13:48] PaulKlint opened #701 "Recent change in TC does not properly handle non-linear variables in patterns"
The files `|rascal:///lang/rascal/tests/functionality/PatternTests.rsc|` and `|rascal:///lang/rascal/tests/functionality/PatternTestsList3.rsc|` used to type check ok, but now they give several errors on patterns with non-linear variables.

[2014-11-12 14:22] MagielBruntink opened #702 "Using + in a list pattern throws an exception"
The following was giving as an answer to the online Rascal test. It actually crashes the Rascal interpreter. Clearly the plus should be replaced by a comma, but the crash itself is not good (as it also crashes the automatic reviewing process).

[code]

[2014-11-12 14:45] #702 closed, assigned to nobody

[2014-11-13 10:39] DavyLandman opened #703 "Apache commons math is not packaged in the update site?"
[code]

this appears to be a problem with the building of the update-site?

[2014-11-13 22:18] PaulKlint opened #704 "TC could do more checking of disambiguation operators in syntax rules"
Quick memo: It seems that the right hand sides of the operators `!`, `>>`, `!>>`, `<<`, `!<<` and `\` could profit from some further analysis by the type checker.

[code]

[2014-11-14 12:13] PaulKlint opened #705 "Problematic parameterized return type for TC and compiler"
In commit 4016ae19599474bb5888b4da684eb2289ec6e819 a new `sum` function has been added that is challenging for both  type checker and compiler. I am working on fixing the latter, for the type checker this example is a problem (my suspicion: somewhere a substitution of type parameters in a type is missing):

[code]

produces:

[code]

[2014-11-14 15:06] #581 closed, assigned to PaulKlint

[2014-11-14 22:02] #705 closed, assigned to mahills

[2014-11-14 22:02] #701 closed, assigned to mahills

[2014-11-16 09:13] PaulKlint opened #706 "Should type checker reject this or not?"
The type checker rejects the following (based on a test for the recently added function `concat`):

[code]

with the following message:

[code]

The interpreter accepts this. I am in favor of following the type checker's choice (and remove this particular test) but just want to have other opinions on this.

[2014-11-16 20:17] PaulKlint opened #707 "Request for changing getModuleLocation or ParseTree locations"
The function `getModuleLocation` is defined in `util::Reflective` and returns an URI for a given module name. For instance, `getModuleLocation("List")` gives `|project://rascal/src/org/rascalmpl/library/List.rsc|`.

If we look at the locations attached to the parse tree of the `List` module, they use the `rascal` scheme, e.g. `|rascal:///List.rsc|(550,3,<15,7>,<15,10>)`.

This is all fine, except

[2014-11-17 13:24] #707 closed, assigned to nobody

[2014-11-17 15:14] #677 closed, assigned to DavyLandman

[2014-11-17 15:17] #74 closed, assigned to nobody

[2014-11-19 21:22] PaulKlint opened #708 "Matching of a reified type does not work properly (in interpreter and compile)"
Reported by @tvdstorm:

[code]

gives with the interpreter

[code]

and with the compiler it gives a static error (but should be accepted):

[code]

@mahills can you have a look at this type checker issue?

[2014-11-20 07:27] jurgenvinju opened #709 "break and continue do not work"
[code]

this throws a `breakException(internal error)`. I think it should behave like `top-down-break`

[2014-11-20 07:49] basten opened #710 "generalize filter"
It would be nice to, during a visit, be able to remove to currently matched value from it's surrounding container. The filter keyword does this for parse trees in ambiguity clusters, but we could generalize this for any values/containers.

[2014-11-20 09:27] secult opened #711 "Optimizing indexOf and lastIndexOf"
The current implementation of the function indexOf and the function lastIndexOf is depending on the linear traversal through list and performing comparission one by one.
from the discussion here:
http://tutor.rascal-mpl.org/Rascal/Libraries/Prelude/List/indexOf/indexOf.html

[2014-11-22 14:32] PaulKlint opened #712 "Fix all uses of regular expressions in our Java code to support Unicode"
As explained in https://github.com/cwi-swat/rascal/commit/918f7b6cf58c945656c08d0015215d3d638ed2b6 Rascal regular expressions did not support Unicode. This has been fixed in that commit (both in the interpreter and the compiler).

However, there are other places in our code base where Java regular expressions are used and we should check these one-by-one to see whether they should be adapted as we

[2014-11-22 21:44] PaulKlint opened #713 "TC: Priority info in syntax is lost on import"
The grammar information computed for the syntax rules defined in a module is fine. However, when this info is imported in another module, the priority information is lost.

Example: `demo::lang::Exp::Combined::Automatic::Syntax`:

[code]

Definition of sort `Exp` provided by type checker is ok:

[code]

Definition in importing `Tst` module (note the missing `priority` constructor):

[code]

[2014-11-25 09:37] anyahelene opened #714 "+/+= on maps is slow"
(This applies to the current stable plugin. I have little doubt that @msteindorfer has already taken care of this in his experiments, but filing a bug just to make sure.)

It turns out that:

[code]

is _much_ slower than

[code]

...which is not terribly surprising, except that performace steadly gets a lot worse as the number of elements in the map grows. I.e., += is linear (at least) in the siz

[2014-11-26 09:52] tvdstorm opened #715 "Type checker misses labeled loop context for appends without labels"
If you use `append` without a label, but the surrounding `for` loop has a label, the type checker complains as follows: Cannot add append information, no valid surrounding context found.

Reproduce:

[code]

[2014-11-26 09:57] tvdstorm opened #716 "Inference of reducer result type does not support aliases"
If you have an initial value in a reducer, which you expect to have the type of an alias (which assigns names to fields), the field names are not available on `it`.

Reproduce:

[code]

Errors:

[code]

[2014-11-26 15:51] jurgenvinju opened #717 "Make libSVM library"
`libSVM`: Competitor of Weka for natural language processing, BSD license, Java based. Is used in OSSMETER as the preferred option right now with good results. The choice was made based on the license, since Weka is GPL.

[2014-11-26 21:38] PaulKlint opened #718 "Strange behavior of uninitialized module variable"
Reported by apil.tamang: http://stackoverflow.com/questions/27158865/deleting-elements-from-a-list-and-or-a-set:

The following module gives the error

[code]

But adding `= {}` to the declaration of `data1` solves the problem.

[code]

[2014-11-27 16:25] anyahelene opened #719 "Strange += behaviour on lists and sets with field access"
This works:

[code]

This doesn't:

[code]

Not sure if it _should_ work, but I think it would make sense if it did.

[2014-12-02 10:50] josvanroosmalen opened #720 "Misplaced JavaDoc not visible in M3@documentation"
Now issue https://github.com/cwi-swat/rascal/issues/693 is fixed, the JavaDoc/comment processing is still wrong in Rascal because sometimes it is not properly populated.  I checked against the latest unstable Rascal build of this morning:   0.7.1.201412021009

(Misplaced) JavaDoc what cannot be assigned to a method/class/field should be handled as comment.

Assume I have:

[code]

And:

[code]

Th

[2014-12-02 12:11] #720 closed, assigned to nobody

[2014-12-02 13:13] ashimshahi opened #721 "Test failed for csvWithStr"
[code]

The problem is that the first parameter is being read in as a rational number because the `\t` is being removed during the read.

[2014-12-02 13:19] #714 closed, assigned to msteindorfer

[2014-12-02 13:39] jurgenvinju opened #722 "nullpointerexception when starting tutor"
This is running from an unstable release in a workspace with the rascal and rascal-eclipse projects open and the right `-D` defines running to be able to run tutor in edit mode:

[code]

[2014-12-02 14:41] DavyLandman opened #723 "UnsupportedOperationException when using RASCAL.MF and the command line version of rascal"
[code]

The `RASCAL.MF` file is correct and the parameter names as well.

The rascal function is:

[code]

[2014-12-02 19:22] #723 closed, assigned to nobody

[2014-12-02 21:20] josvanroosmalen opened #724 "Rascal GUI behaves not correctly"
If you combine the 'combo' and 'scaleSlider' Tutor examples,and you run it with below listed components and you flip from combobox A to B to C, D, A etc you will notice that the combobox will get wider every selection you made, however this behavior (to get the combobx wider with every selection) is not specified in the Rascal code.

Start situation:

![start](https://cloud.githubusercontent.com/a

[2014-12-03 11:53] josvanroosmalen opened #725 "Rascal not always checks for undeclared variables"
[code]

If I have:

[code]

And I do:

[code]

I get:

[code]

HOWEVER, If I take the Combo sample, and comment the first line out (initialize state), then it crashes because it does not check anymore for undeclared variables causing a full crash.

This is not consistent!!!

Reproduction:

[code]

Gives:

[code]

[2014-12-03 20:53] josvanroosmalen opened #726 "ValueIO not properly loading Figure data from disk"
ValueIO is not properly loading Figure objects from Text file.

My minimal reproduction snippet is below.

**NOTE** Not only box() goes wrong, also text() etc. So this looks like an Figure persistency issue.

Most likely this is related to #386 .

Tested with: 0.7.1.201411301701

Workarround: switching to Binary output does not always work e.g. writting box(fillColor(arbColor)); is causing: Java("

[2014-12-03 21:19] #726 closed, assigned to nobody

[2014-12-04 13:08] leonmoonen opened #727 "visit + regexp broken"
[code]

[2014-12-04 13:14] leonmoonen opened #728 "Projecting relation columns with negative ints"
Please add the feature to index columns from the back using negative integers (just like lists).

[2014-12-04 13:37] #727 closed, assigned to nobody

[2014-12-04 19:01] josvanroosmalen opened #729 "MouseOver on nested Treemaps do not work correctly"
[code]

If I have:

[code]

Then I get 2 mouseovers at the same time, as shown i n the screenshot below. So it does not take the layering into account. This is inconsistent because on layered boxes it does work correctly.

It should only display the MouseOver related to the visible top box.

![treemap](https://cloud.githubusercontent.com/assets/9380618/5304157/3fc9138c-7bf0-11e4-83b1-ae2d1acf639a.

[2014-12-04 20:07] josvanroosmalen opened #730 "(Nested) Figures not properly clipped when space is constrained."
[code]

Can someone at least give me a work arround for this? How can I show the text if there is space, and display the text not if there is no space?

To visualize hierarchy and size, I want to use nested treemaps with 'caption text boxes'.

If I execute the code below with:

[code]

I get what I expect:

![selection_011](https://cloud.githubusercontent.com/assets/9380618/5304863/eda3e0a8-7bf6-1

[2014-12-04 21:52] mahills opened #731 "default case matches multiple times for same term in a visit"
If I do the following in an otherwise empty module:

[code]

and run it I see the following:

[code]

Why is default being triggered so many times? I would think it would be triggered at most 4 times, one for each of the 3 strings in the list, and one for the list as a whole.

[2014-12-07 20:20] josvanroosmalen opened #732 "Colorscale causes division by zero"
colorScale is not bullet proof.

If I collect the 'observed values' automatically and I end up with only 1 or more times the same values, it will cause a division by zero.

Example:

[code]

Results in:

[code]

Solution: I would suggest to change:

[code]

To (maybe a better solution is to pick a color between from and to instead of choosing for to here):

[code]

   }

[2014-12-08 07:58] PaulKlint opened #733 "TC infers incorrect type for map subscript"
In the following example (derived from `lang/yaml/Model.rsc`) the expression `matching[r1]` gets the type `void` assigned by the type checker, where I would expect `int` (or in case of uncertainty `value`).
Note that the checker does **not** give any static errors (which is fine).

[code]

[2014-12-08 16:28] LemmingAvalanche opened #734 "Redifining name of type `Foo` leads to internal error when `#Foo` is entered in console"
Have this file defined in a project in Eclipse:

[code]

Now, `run as ... Rascal Application` to load the Rascal console and import the module.

Then, redefine the name of the datatype to something else:

[code]

Then type this in the console (old name of type):

[code]

This gives me a stacktrace like this:

[code]

**Rascal versions**: `0.7.1.201412021325` and `0.6.2.201312171007`

[2014-12-08 21:07] #734 closed, assigned to jurgenvinju

[2014-12-09 14:15] josvr opened #735 "StackOverflow in BindingsResolver"
What is the workarround, fix for the following?

Bug tested with:

    Eclipse 4.4.1 (RCP/RAP)
    Rascal 0.7.1.201412021009

I have a endless-recursion stackoverflow crash -> I got it crashing on both Win 32bit and Linux 64-bit, and different runtimes.

This:

    loc c = |java+constructor:///org/hsqldb/StatementInsert/StatementInsert(org.hsqldb.Session,org.hsqldb.Table,int%5B%5D,org.hsqldb.Expre

[2014-12-09 15:07] jurgenvinju opened #736 "example-project breaks deployed rascal plugin"
the Fruit class and its friends are declared in the `default` package but some of our code expects as an invariant all classes in our own distributions are nested in some kind of package. This breaks peoples code (for example Anya's code)

[2014-12-09 22:43] #700 closed, assigned to mahills

[2014-12-09 22:46] #713 closed, assigned to mahills

[2014-12-09 22:58] #715 closed, assigned to mahills

[2014-12-09 23:09] #706 closed, assigned to nobody

[2014-12-10 08:31] PaulKlint opened #737 "TC gives error for toRel on empty map"
I think the following should not give a static error:
[code]
gives
[code]

[2014-12-10 12:43] #278 closed, assigned to Anastassija

[2014-12-10 12:43] #273 closed, assigned to Anastassija

[2014-12-10 12:51] MagielBruntink opened #738 "The edit function from util::Editors uses a lot of memory"
Just create the following module and call main a couple of times to observe memory usage. In the SEvol lab this stalls Eclipse completely for some students due to memory shortage.

[code]

Example input SEvolTest.java:

[code]

[2014-12-10 16:58] vrozen opened #739 "ShellExec results in NullPointerException when invoked without arguments"
When running util::ShellExec::createProcess it causes a NullPointerException when no arguments are provided.

[code]

expected result:

[code]

actual result:

[code]

[2014-12-10 17:04] #739 closed, assigned to nobody

[2014-12-10 19:25] anyahelene opened #740 "Resetting typechecker after changes"
So, I'm running the typechecker from the Experimental menu in Eclipse, but as I try to fix the problems I find, Rascal doesn't seem to notice that I've changed my code.

I tried "reload checker", "reset project state", restarting Eclipse and opening/closing the project, but I still get the same error squigglies. What am I missing?

(If I run the compiler from the Rascal console, as per @PaulKlint'

[2014-12-12 02:22] #667 closed, assigned to nobody

[2014-12-12 03:04] #686 closed, assigned to mahills

[2014-12-12 08:19] PaulKlint opened #741 "Five static errors in /lang/rascal/tests/basic/Maps.rsc, mostly, related to empty maps"
[code]

[2014-12-12 09:54] #741 closed, assigned to mahills

[2014-12-12 12:07] DavyLandman opened #742 "Add automatic compression for files."
When working with data files, compression often saves a lot of disk space, and makes it possible to commit your data files into the (git) repository as well.

In R for example, `read.csv` normally accepts `.csv` files. However, if the extension is `.csv.gz` or `.csv.xz` or `.csv.bz2` the library automatically decompresses the file before parsing it as a csv.

I was thinking we should add a similar

[2014-12-13 14:22] LemmingAvalanche opened #743 "Executing `:clear` in command line for rascal version 0.7.0 provokes an internal error"
[code]

[2014-12-14 22:03] PaulKlint opened #744 "Does TC correctly handle transitive extend?"
Consider the following program (inspired by the structure of `types::AbstractType`):
[code]
The situation is that `ParseTree` extends `Type`, and `Tst4` extends `ParseTree`. In addition `Tst4` extends the `Symbol` datatype (defined in `ParseTree`) and the`subtype` function defined in `Type` and extended in `ParseTree`.

Looking in the info generated by the type checker, `Tst4::subtype` has all def

[2014-12-15 15:58] BertLisser opened #745 "Accepted by the rascal shell and not accepted by the type checker."
The Rascal code

[code]

The type checker rejects this code.
The error message is:  `addition not defined on value and int`
However the rascal shell accepts this code.

Will this kind of code be allowed in the future?

[2014-12-17 20:23] #493 closed, assigned to nobody

[2014-12-18 13:10] #742 closed, assigned to nobody

[2014-12-18 19:42] #685 closed, assigned to nobody

[2014-12-18 19:48] #671 closed, assigned to mahills

[2014-12-19 22:43] PaulKlint opened #746 "TC gives incorrect type for tuple concat with multiple labels"
In commit dd9a74da5b2907d1a413d5438a0f9d63d74871f4 it was demonstrated that the interpreter did not drop all labels when there are duplicate labels in a tuple concatenation while this is the desired behavior.
 The type checker also computes duplicate fields names instead of dropping all field names.

In this example

[code]

the type of `(a + b)` is computed as

[code]

while it should be

[code]

[2014-12-19 22:55] PaulKlint opened #747 "TC gives incorrect errors for new Map tests"
New functions have been added to MapTests that cause the type checker to produce incorrect errors.
Here is a simplified example:
[code]
gives
[code]

[2014-12-20 01:47] #746 closed, assigned to mahills

[2014-12-23 10:20] DavyLandman opened #748 "util::Reflective::getModuleGrammar is broken due to the changes in the rascal scheme."
The rascal scheme is now resolved to the file it is pointing to.

So the literal `|rascal://lang::java::syntax::Java15|` immediately becomes `|bundleresource://493.fwk1941822286:9/src/org/rascalmpl/library/lang/java/syntax/Java15.rsc|`.

The function `getModuleGrammar(loc)`  in the end calls [`Evaluator.getGrammar`](https://github.com/cwi-swat/rascal/blob/master/src/org/rascalmpl/interpreter/Evalu

[2014-12-24 12:43] #216 closed, assigned to jurgenvinju

[2014-12-24 12:43] #748 closed, assigned to nobody

[2014-12-24 14:13] #745 closed, assigned to nobody

[2014-12-31 18:48] #110 closed, assigned to grammarware

[2015-01-01 19:31] jurgenvinju commented on #110
happy new year :-)

[2015-01-03 00:57] mahills commented on #747
This is working, but opens back up #737.

[2015-01-03 01:03] mahills commented on #737
I'm re-opening this one. This is related to #747. The problem is that there really are three different functions, with three different signatures, and all of them apply. As we discussed in #747, default functions lose in the case of a tie, so the prior solution to this (which was to make the more general function the default and just pick that) doesn't completely work (and actually got the default

[2015-01-04 01:06] LexCog opened #749 "incomprehensible parse error message"
I'm not sure if this rises to the level of a bug, but I'm getting the following error message when I try to parse a toy example:

|rascal://ParseTree|(10175,833,<248,0>,<274,60>): ParseError(|file://-|(3,1,<1,3>,<1,4>))
	at *** somewhere ***(|rascal://ParseTree|(10175,833,<248,0>,<274,60>))
	at parse(|stdin:///|(24,9,<1,24>,<1,33>))

This message has resisted my best efforts (feeble though they ma

[2015-01-04 01:17] mahills commented on #749
You need to put a `\` character before the space in your layout definition so it knows you mean "I'm talking about the space character", versus having just put an extra space in. So, it should be like:

`layout Whitespace = [\t-\n\r\ ]*;`

As it is, it doesn't know that a space character is valid layout, so it fails when it hits the space in your input string. The error message could definitely be

[2015-01-04 01:17] #749 closed

[2015-01-04 01:26] LexCog commented on #749
Right you are.  I knew it was something dumb.  Thanks very much.

[2015-01-04 17:50] mahills commented on #675
I've added some code that handles this in many cases, but need to investigate those where I can't narrow this for some reason. The commit is 86095bcc3723ef682e4aae47ba15777567651ecd.

[2015-01-04 20:19] jurgenvinju commented on #675
cool! wouldn't it also influence type inference on the parameters of the constructor?

[2015-01-06 15:47] jurgenvinju opened #750 "concurrent modification exception due to debug variables view"
This triggered when running this code in an Eclipse REPL by copy pasting this into the prompt and pressing enter:

[code]

Then this happened:

[code]

[2015-01-07 06:59] jurgenvinju opened #751 "pattern matching bound variables should ignore keyword parameters"
While the following is `true`:

[code]

this is not true, but it should be:

[code]

the reason is that equality check is called when matching against a bound variable and equality does not ignore keyword parameters.

we need this functionality anyway. Sometimes you want to check equality modulo keyword parameters and the `:=` operator would satisfy this requirement.

[2015-01-08 14:51] DavyLandman opened #752 "Fix for the leaking of layout has broken the muRascal grammar."
If you run:

[code]

it throws a parse error.

if you `git revert -n a0b77a564bc3ff05893b090b7fa6ec4b86a10b43` (a0b77a564bc3ff05893b090b7fa6ec4b86a10b43) and run the same code it does parse.

@jurgenvinju was the brains behind that commit, and looking at the [`experiments::Compiler::muRascal::Syntax`](https://github.com/cwi-swat/rascal/blob/master/src/org/rascalmpl/library/experiments/Compiler/muR

[2015-01-08 14:56] PaulKlint commented on #752
The layout sensitive stuff was done by @Anastassija and @afroozeh. It is nice when writing muRascal programs but makes the grammar itself quite unmaintainable.

[2015-01-09 08:35] #752 closed

[2015-01-10 21:39] PaulKlint opened #753 "Use info for overloaded function calls disappeared after recent change to TC"
In commit c7b877cb6f643ac9d7c6459a42d9bc9a12784796 the approach to function resolution has been changed. It turns out that the use information for overloaded calls has disappeared (while this is essential for the compiler). The following example is a case in point:
[code]
It returns `0` while `-1` is expected. After reverting before the above commit, the right answer `-1` is returned.

Some backgr

[2015-01-10 21:53] PaulKlint opened #754 "Make TC aware of ignore and ignoreCompiler"
The dozens of new tests related to keyword parameters cannot yet be handled by the type checker and compiler. Unfortunately these new tests cause type checker/compiler to fail and this impedes further testing and development of other features.

Now seems therefore a good moment to finally make the type checker aware of `ignore` and `ignoreCompiler` tags. Basic idea: if the tag is present the type

[2015-01-11 12:59] PaulKlint opened #755 "Make it simpler to run all available tests"
We have a rich set of tests that are more than enough to detect trouble. However it is not sufficiently easy to run all these tests with the push of one button. To complicate matters, tests come in two categories:
- Tests that _must_ succeed and are a prerequisite for a build. These are the tests run from our `AllSuite`.
- Test that _may_ succeed: these are tests for less mature parts of the syste

[2015-01-11 13:21] DavyLandman commented on #755
in principle you could set the rascal junit test runner on the library root folder. Since I recently made it recurse through all the subdirectories.

[2015-01-11 13:26] PaulKlint commented on #755
I agree that this is possible  (modulo URIResolver issues). However, then we loose the distinction between _must_ and _may_ tests. Can we preserve that distinction in another way?

[2015-01-11 16:18] DavyLandman commented on #755
Add a `@wishfull` on tests?

The behavior could be the same as ignore. Except that they are run, but
only report a success if they are executed without an error. Else they
report that they are ignored.

However, there is something confusing about non running tests. In a way,
that was the scenario that we were in 2 years ago. This got to a point that
you could only run the testsuite if you knew the

[2015-01-11 19:31] jurgenvinju commented on #755
I like the idea of storing a persistent report in order to compare to previous states. In that case we can let the entire build fail if more errors are introduced, and stay silent if we fix failing tests or stay at the same level..

[2015-01-11 21:23] PaulKlint commented on #753
Thanks @mahills for this fix. It has solved some of the failing tests, but unfortunately not yet all.
I have to further analyze the situation in order to come up with a simple counter example.

[2015-01-11 21:55] mahills commented on #753
Okay, let me know -- at this point, the code should be doing what it was doing before, at least as regards what goes into the uses relation, so it must be a problem related to another change. There were some changes related to uses of defaults and non-defaults, so it may be related to that.

[2015-01-12 10:53] PaulKlint commented on #753
The observed failing tests had a different cause, see comments for issues #754.
Overloading resolution is working fine again.

[2015-01-12 10:53] #753 closed

[2015-01-12 10:57] PaulKlint commented on #754
The implications of this change in behavior of the type checker were not yet propagated to the compiler: the typechecker now completely skips an ignored function while the compiler still tried to compile it (and then -- of course -- got stuck because information was missing). After adapting the compiler tests are now ignored like a charm.

[2015-01-12 10:57] #754 closed

[2015-01-13 14:07] PaulKlint commented on #744
It turns out that the changed approach to overloading resolution in the compiler also solves this problem.

[2015-01-13 14:07] #744 closed

[2015-01-13 14:10] PaulKlint commented on #502
My impression is that this issue is solved.

[2015-01-13 14:10] #502 closed

[2015-01-13 14:19] mahills commented on #502
I believe so as well -- in general, it will look for a concrete version of the type in cases where a) no unqualified type of that name is in scope, and b) it can tell that we attempted to load the name but it would have caused a collision between concrete and abstract type versions. This should prevent "leaking" concrete type names, since we always keep them around in the background so the compile

[2015-01-15 08:03] jurgenvinju opened #756 "promote exception throwing to expression"
Having to write this is awkward:

[code]

if we promote the throw statement to expression level:

[code]

[2015-01-15 08:29] DavyLandman commented on #756
:+1:

Can we als do this for other result generating statements? Such as a `for`?

[2015-01-15 08:30] DavyLandman commented on #756
Ow wait, I thought this was about the shorthand for functions that return one statement..

[2015-01-15 10:44] jurgenvinju opened #757 "pattern matching always returns true for sequence trees if the first tree is equal?"
[code]

and

[code]

[2015-01-15 12:28] jurgenvinju commented on #394
Update; reported by Tijs earlier in this issue:

* pattern matching doesn't seem to work on start[X] trees. => just fixed
* visit does exactly the wrong thing (visiting layout before, and after, not tree itself) => fixed earlier this week

[2015-01-15 12:32] #757 closed

[2015-01-15 15:01] mahills commented on #756
Instead of making `throw` an expression, maybe it would make more sense to allow statements on the right-hand side of variable and keyword declarations? This is already allowed for assignables, so this would just make the two more consistent, which seems like a smaller change (given all the assignments currently are of the form `<Expression e>;`, this also wouldn't require changing any existing co

[2015-01-15 15:05] jurgenvinju commented on #756
@mahills that would also be a good solution, and for single expression function declarations as well. While we haven't integrated expressions and statements yet, it seems like the best thing to do.

[2015-01-17 09:18] PaulKlint opened #758 "TC reports duplicate, identical aliases as error"
The type checker accepts duplicate, identical data declarations but complains about duplicate identical alias declarations (here `A`):
[code]

___Request___: do not give an error in such cases.

A case in point is this alias declaration in `ParseTree`:
[code]
`AbstractType` extends `ParseTree` (and thus defines `CharClass` as well) and this may lead to duplicate aliases later on in the import grap

[2015-01-17 20:02] PaulKlint commented on #543
I am still seeing incompatibilities between the two implementations. Here is an example.
[code]
The interpreter gives:
[code]
and the compiler:
[code]
The latter looks more reasonable to me (why would there be double newlines?). @tvdstorm can you have (yet!) another look at this? It is the only remaining test case that fails for templates.

[2015-01-17 20:17] #758 closed

[2015-01-18 22:01] PaulKlint commented on #758
This one works fine now.

[2015-01-19 09:53] tvdstorm commented on #543
Hi @PaulKlint , in this case I think the compiler is wrong: there is newline before "..." and after "XXX". Concatenation leads to two newlines everywhere in the middle, one at the beginning and one at the end.

[2015-01-20 20:08] PaulKlint opened #760 "TC and compiler should support common keyword parameters in multiple data declarations"
One of the recently introduced changes regarding keyword parameters is the handling of common keyword parameters in data declarations: all common keyword parameters apply to all constructors, even if the declaration is spread across several data declarations. For example, `m().a` should have a value given the following declarations
[code]
The relevant tests can be found in: `lang::rascal::tests::f

[2015-01-20 22:15] #543 closed

[2015-01-21 09:50] PaulKlint commented on #469
This is now working as expected.

[2015-01-21 09:50] #469 closed

[2015-01-21 10:00] PaulKlint commented on #466
This has been settled, see discussion in #465.

The two declarations of `Exp` are now only allowed in different modules.

[2015-01-21 10:00] #466 closed

[2015-01-21 11:20] LemmingAvalanche opened #761 "Wrong constructor name in function signature gives weird error"
If you have a function signature with a wrong (non-existing) data constructor, then you get an error that says that *that kind of pattern is not allowed*. It would seem better for it to give an error that says that the constructor is not defined for any ADT in the scope of the module, or something like that.

Example:

[code]

Try to import that module:

[code]

[*Advice* points to this](http://lo

[2015-01-21 11:47] DavyLandman commented on #761
I agree the message is confusing, but what should `Horse()` be?

If you have the ADT Horse, then drop the `()` and give it a name. (Also define it)

If you mean the constructor `horse()` then lowercase the first letter and import the module that defines the ADT which contains that constructor. Also add a default method to handle the other invocation when it is not `horse()`

[2015-01-21 11:54] DavyLandman commented on #761
My bad, I removed my previous comment since I tried to answer what the problem was. I agree, this is a confusing message.

[2015-01-21 14:12] jurgenvinju commented on #761
good call. I will check what the type checker says about this one.

[2015-01-21 14:16] jurgenvinju commented on #761
The (experimental)  type checker  reports the following:

* Constructor or production name is not in scope	X.rsc	/X/src	line 3
* Could not calculate function type because of errors calculating the parameter types	X.rsc	/X/src	line 3
* Type of pattern could not be computed	X.rsc	/X/src	line 3

So, this means that when we release the type checker this issue will be resolved! Do you mind if I close i

[2015-01-21 15:05] LemmingAvalanche commented on #761
@jurgenvinju I don't mind

[2015-01-21 16:54] jurgenvinju commented on #761
@LemmingAvalanche ok.

[2015-01-21 16:54] #761 closed

[2015-01-21 22:29] PaulKlint opened #762 "How to reconcile concrete and abstract syntax trees (aka getting rid of implode)"
After repeated discussions (latest today with @tvdstorm) we seem to agree that we have to reconsider how we handle the relation between a _concrete_ and an _abstract_ representation of syntax trees. At the moment we have two options:
1. Do all processing at the concrete representation. This works fine, the type checker and compiler take this approach and no abstract representation is needed.
2. In

[2015-01-22 08:06] jurgenvinju commented on #762
The advantages are clear, but there are clear disadvantages which makes this not always the best solution:
* performance is certainly not optimal; although we are working to use less space for concrete trees on a branch;
* it is unclear what the mapping between concrete and abstract lists should be and how the pattern matcher should work. This is a big TODO. Consider `eval([Stat head, *Stat tail])

[2015-01-22 08:10] jurgenvinju commented on #762
We can also write a static implode checker which lines up a concrete grammar with an abstract grammar and checks if at least at every level there would be an alternative abstract constructor for every concrete constructor.

[2015-01-22 08:13] jurgenvinju commented on #762
Another note: pattern matching should ignore/step-over brackets rules, so the bracket rule should not have to be written in principle. There are some dark corners there which still have to be considered, namely regarding the identity function and not letting brackets magically disappear.

[2015-01-22 08:23] PaulKlint commented on #762
Many points to comment on:
1. I am not that worried about performance, it works out very well in the compiler and other optimizations are under way.
2. It is indeed a question whether we  should want to mix concrete and abstract lists given enough support for concrete lists. The above example can be easily rewritten as: `eval({Stat ";"}+ stats) = eval(head(stats)) o eval(tail(stats))`. But I agree

[2015-01-22 08:36] jurgenvinju commented on #762
1. it's not the speed as much as the memory usage compared to ASTs that I am worried about. @DavyLandman's work on CC could not have been done on parse trees because at that scale it just doesn't fit in memory. ASTs need to be a story because of these kinds of applications.
2. yes more exploration. It would be weird if we create corner cases where pattern matching is not expressive enough or compl

[2015-01-22 08:58] PaulKlint commented on #762
(3) I am talking about a model where there __is__ no abstract representation. Everything uses a concrete tree and there is therefore no standard way to go from abstract to concrete. The only purpose of the "abstract" pattern `mul(Exp e1, Exp2)` is to match concrete trees. As I mentioned we still do need a pretty printer for a concrete -> concrete mapping.
(4) Of course a manual implode can do ever

[2015-01-22 09:04] jurgenvinju commented on #762
Well, if we take this one thing at a time, let's finish the abstract matching on concrete trees and that's one down.

I would like to propose that top-level list patterns only match abstract lists, and that nested lists under an abstract constructor pattern will have the concrete list matching behavior (namely skipping layout). For example, `eval(if(Exp _, [*Stat _, Stat last]))` , would actually

[2015-01-22 10:03] tvdstorm commented on #762
Just for the records: the latest discussion I had with @PaulKlint was triggered by having to deal with overloaded constructors for normalization. This seems to be the only real problem. It's probably even implemented wrong in the interpreter now. In the compiler it's a can of worms.

Normalizing constructor overloads are not lexically scoped: `implode` needs to know about functions in the caller's

[2015-01-22 10:16] tvdstorm commented on #762
Another few cents:

- I think we shouldn't mix `X*` values and lists. Keeping them completely distinct resolves the pattern matching ambiguity.

- We can already match using prefix notation, but we cannot build. We could auto-generate explode functions that create concrete syntax trees from trees build in prefix notation. (Of course these can be "overridden" by the user to get custom behavior). Th

[2015-01-22 11:54] jurgenvinju commented on #762
with your few cents @tvdstorm:

 1.  agreed
 2. @PaulKlint and I have found a solution for this which is elegant. more to come.
 3. certainly, a true parametrized algebraic visit would be great to help implementing implode and related functionality such as outline, unparse, translate;
 4. not right now. the parser builds parse trees, but this is parameterized by an interface. It can build anything

[2015-01-28 15:18] PaulKlint commented on #633
This issue is now mostly under control. Thanks for everybody's help!

[2015-01-28 15:18] #633 closed

[2015-01-29 08:52] LemmingAvalanche commented on #743
@anyahelene yep. The reason I point out this command in particular is that most of them seem to throw something like "NotImplementedException" which is probably intentionally put there, while throwing NullPointerException(internal error) seems like a mistake.

[2015-01-29 09:23] LemmingAvalanche opened #763 "Rascal does not report error when not declaring explicit type in function parameter"
Have this module in a project:

[code]

Type this in the console:

[code]

Since `inc(...)` is not defined properly - there is no explicit type declaration for the parameter - we should get an error about this. But this still works:

[code]

Instead you may get another, seemingly unrelated error if `inc(...)` is used in a more complex expression. Like this:

[code]

The parameter type is checked i

[2015-01-29 12:51] jurgenvinju commented on #615
finally solved!

[2015-01-29 12:51] #615 closed

[2015-01-30 00:45] mahills commented on #763
The checker requires names introduced in function parameters to be given explicit types, while the interpreter currently doesn't. So, as @jurgenvinju said, this will go away when the checker is in regular use.

[2015-01-30 15:21] LemmingAvalanche opened #764 "Calling `mapper` with an erroneously defined function reports an error in the `List` module instead of in the client code"
[code]

Note that the pattern in the `a(...)` signature is wrong (`single()`, but should be `singleton()`). Type this in the console:

[code]

Now I get an error, but the error itself is not as interesting as the location it is reported for:

[code]

The error points to the `List` module instead of the `a(...)` signature in my module, or to the call to `mapper` function. The location it points to

[2015-02-02 12:38] msteindorfer opened #765 "TC fails for (typed/named) patterns in function definitions that work in regular Rascal code"
The following two functions don't pass the TC:
[code]

However, if equal pattern matches are called in a body of a function, they pass the TC:
[code]

I'm using such pattern matches quite often in my code base and thus have problems in making my code pass the type checker. I would appreciate if @mahills could have a look at this issue.

[2015-02-02 13:04] mahills commented on #765
The type checker currently enforces something the interpreter should probably be enforcing as well, but doesn't -- all names introduced in a function signature need to be given an explicit type. That way inferring types only happens inside functions, not in the function signatures themselves. So, I'll guess this code will work if you say `list[int] lst:[int a, *_]` in the first pattern. I'll take

[2015-02-03 13:19] msteindorfer commented on #765
Hi @mahills, thanks for your answer. Indeed adding types everywhere improves the situation. However, as you pointed out, `*_` still causes problems.

[2015-02-03 13:22] msteindorfer opened #766 "TC does not filter non-applicable function overloads"
Hi @mahills, the following code executes well, but does not type check. For some reason the TC does not filter the non-applicable overloads of `doSomething` correctly:

[code]

The same issue appears if you substitute `mymap` with the `List::mapper()` function.

[2015-02-03 14:52] PaulKlint opened #767 "Should the type checker forbid function overloading across different scopes?"
At the moment the compiler assumes that all overloaded functions are declared in the same scope, be it the module scope or a nested function scope. For instance, the following two examples are fine:
[code]
and
[code]
However, triggered by code examples in `CheckTypes.rsc` (one of several exhibits: `addAlias`) the following structure is also used where `h` is overloaded but the versions are defined

[2015-02-03 15:13] mahills commented on #767
Probably very little would happen -- this happens right now in the checker more by accident (I wasn't very creative in coming up with new names), and would be easy to detect and flag. The other alternative would be to say that it creates a new function, not an overload, which is probably the intended behavior in most of the cases where this would arise, but that has the problem of being potentiall

[2015-02-04 12:03] jurgenvinju commented on #767
Just a note, the example:

[code]
is type incorrect if we talk about the overloading variant, since both alternatives are for the same pattern.

[2015-02-04 12:05] jurgenvinju commented on #767
I think the function scope is a real scope with shadowing, so function names should be shadowed as well. One nice point of a local function is that you can pick a nice short name and you don't have to think hard about that, with the current semantics the programmer actually may accidentally overload another function without realizing.

[2015-02-04 15:44] msteindorfer opened #768 "Previous keyword parameters are not accessible in context of a function call"
The following code uses the ability to refer to back to keyword parameters that were defined earlier:
[code]

Calling `concat1` gives the following correct output, because it initializes `l2` with the value of `l1`:
[code]

However, when calling `concat1` within `reverseConcat1` Rascal cannot refer back to `l1` and instead reports an "Undeclared variable" error:
[code]

This happens with the most

[2015-02-04 21:28] mahills commented on #765
`int testFunc2([int a, *_]) = a;` will always be a problem, simply because this gives no indication of the type of the actual list -- all it really says is that the first element is an int. I've fixed the other case, but want to test all the current code to make sure I haven't broken anything in the process.

[2015-02-04 23:29] #765 closed

[2015-02-05 09:21] jurgenvinju commented on #768
It's a feature we didn't consider before. Defaults could use the previous versions, but now we also have it at the call site. It's just not implemented (yet). I don't think there is anything against it though. Will add to the interpreter because it would be more consistent if we do implement this (also useful).

@PaulKlint @tvdstorm @mahills do you agree?

[2015-02-05 09:33] PaulKlint commented on #768
I am not so sure we want this behavior (although I have to admit that the `reverseConcat1` example looks convincing. Reason: the names `l1` and `l2` are introduced as local variable at the declaration site of `concat1` and can be used in initializations. However, at the __call site__ these declarations are no longer visible and these names can only be used as names of keyword parameters. There are

[2015-02-05 09:39] jurgenvinju commented on #768
you are right @PaulKlint, it would introduce a weird scoping mechanism. We might consider some half way solution where only explicitly references keyword parameters are seen as local variables too? That would cover @msteindorfer example (`concat1(l1 = [1, 2, 3], l2 = reverse(l1))`), but not: `concat1(l2 = reverse(l1))`.

[2015-02-05 09:57] jurgenvinju commented on #768
@PaulKlint for your second argument, I don't think keyword parameters are used in overloading resolution. We currently do not allow function names which only differ by the keyword parameters they define. Nevertheless, the first point stands and it's a big issue to "invert" the scoping mechanism of function parameters. I don't think any language makes the parameters of functions visible in the call

[2015-02-05 10:07] jurgenvinju opened #769 "deep match behaves differently from visit for keyword parameters"
[code]

deep match should also search through keyword parameters now that these are part of the structure of a value. @msteindorfer reported this.

[2015-02-05 10:20] DavyLandman commented on #769
We have test for visit:
https://github.com/cwi-swat/rascal/blob/master/src/org/rascalmpl/library/lang/rascal/tests/functionality/VisitTests.rsc#L302 (and the commit that implemented them: ae554d24a3a29a8d7793d6e59c27464af29efb82 )

after the reports in these issues: #679 and #665

[2015-02-05 14:51] PaulKlint opened #770 "Can we make the handling of qualified names smarter?"
If we qualify a name we have to write the _complete_ qualified name, i.e. suppose we have two modules:
[code]
and
[code]
and we import them in a module C:
[code]
How convenient would it be if we could just write: `B1::Bvar` instead!

It would be fine to only do this in the typechecker and compiler.

[2015-02-05 14:59] DavyLandman commented on #770
:+1:

[2015-02-05 15:06] mahills commented on #770
It could be useful even to have something like

    import experiments::Compiler::Examples::Changes::B1 as B1;

then we could use a name we pick ourselves.

[2015-02-06 09:17] jurgenvinju commented on #770
considering we already have:

`import B = |resource://as;dfhasdfhas|;`

perhaps we can reuse the same syntax:

`import B1 = experiments::Compiler::Examples::Changes::B1`

Another thought is to allow "postfixes of prefixes" while they are not ambiguous. So you could write:

`B1::f` for `experiments::Compiler::Examples::Changes::B1::f` as long as no other B1 is in scope, and then if there is another

[2015-02-06 09:43] PaulKlint commented on #770
@jurgenvinju, indeed! My suggestion was __not__ to make syntax changes but just to make the handling of qualified names smarter, as exemplified by `B1::f`.

I think we can do this in stages:
- First handle abbreviated qualified names.
- Then decide whether there are still other mechanisms needed, like the `as` suggested by @mahills (or variants thereof).

[2015-02-06 09:57] #769 closed

[2015-02-08 00:18] afroozeh opened #771 "Escape backtick"
The following code gives me a parse error:

```syntax Id =  "`" StringLiteral "`";```

presumably because backtick is used for concrete syntax stuff, but it looks like that
escaping backtick is also not supported. The only allowed escape sequence are: "\\" [\" \' \< \> \\ b f n r t]

Is this a bug or is there another way to escape backtick?

[2015-02-08 00:39] afroozeh commented on #771
It was an error in earlier part, not related to the backticks!

[2015-02-08 00:39] #771 closed

[2015-02-08 22:50] JJWTimmer commented on #13
solved in latest stable, no errors anymore.

[2015-02-08 22:50] #13 closed

[2015-02-11 07:04] jurgenvinju opened #772 "interesting left-over of auto-splicing in list matcher breaks code"
In its minimal form:

[code]

This should have returned `false`. The only subject the pattern matches with is `[[], []]`. I believe the second `e` is spliced as if it were written as `[list[void] e, *e]` which would indeed match `[[]]`.

This problem messes up generic functions which use type parameters `&T` where types can really be bound to `list[void]`. In general it also goes wrong with non-em

[2015-02-13 12:24] joukestoel opened #773 "Matching on a single map element gives an UnsupportedOperationException"
I would like to write a function definition containing a match on a map with a single element. Doing this however results in a ```UnsupportedOperationException``` when importing the module.

For example:
[code]
gives an ```UnsupportedOperationException``` when importing

*Side note*
Writing the code as follows:
[code]
gives an ```Ambiguous code``` error

[2015-02-13 12:34] PaulKlint commented on #773
This is a very legitimate wish. Unfortunately map matching is not yet supported, see #290.
I close this one as duplicate.

[2015-02-13 12:34] #773 closed

[2015-02-13 12:45] joukestoel commented on #773
Ah ok , I thought it would be a duplicate but I didn't find the other issue...

[2015-02-13 12:46] PaulKlint commented on #773
But please turn your side note into s separate issue: "Ambiguous Rascal code"

[2015-02-13 12:50] joukestoel opened #774 "Ambiguous Rascal code when writing a match on map element"
Writing the following code gives an `Ambiguous code` error on import:

[code]

This is besides the point that matching of map elements is not yet supported but this is already described in #290

[2015-02-13 12:51] joukestoel commented on #773
Done! See #774

[2015-02-13 13:28] joukestoel opened #775 "Using aliases to qualify ambiguous constructors"
It would be nice if we could use aliases on types to disambiguate constructors.

I am currently working a lot on mapping one AST on another AST.
Often they have many similar constructors and I have to qualify them in the modules where I reference both. This then quickly becomes unreadable code.
To prevent this it would be nice if we could use an alias on a certain type to reference one of its cons

[2015-02-13 13:44] PaulKlint commented on #775
Looks very nice. There is a connection with the discussion in #770.

[2015-02-26 08:17] jurgenvinju opened #776 "prefix syntax for argument labels in syntax rules"
We want to switch from:

[code]

this notation was chosen for consistency with `data` declarations and function definitions. But it remains unnatural and hard to read in syntax definitions due to the lack of separating commas (which we do not wish to introduce).

So we will change to a prefix form, sort of like:

[code]

the jury is still out on the precise syntax.

This change would include a sim

[2015-02-26 08:18] jurgenvinju opened #777 "migration UX for Rascal updates"
We need a standard (sub)menu for tools we write to upgrade deprecated aspects of Rascal language use. We currently have 3 of such tools in the library which are not hooked into the IDE.

[2015-02-26 09:34] DavyLandman commented on #777
![Yes yes](http://replygif.net/i/369.gif)

[2015-02-26 09:40] PaulKlint commented on #776
This is about syntax so this might trigger a discussion ;-)

One consideration is to keep the notation for syntax rules and concrete patterns compatible if not identical. A pattern for the above non-terminal `A` is at the moment written as:
[code]
and it always irritates me that I cannot directly copy a syntax rule and use it as a pattern. An obvious alternative would therefore be to write syntax

[2015-02-26 10:11] DavyLandman commented on #777
this is also what [`rustup`](https://github.com/rust-lang/rust/blob/master/src/etc/rustup.sh) and [`go fix`](https://golang.org/cmd/fix/) offer.

For Rustup you have to pass what version you were on before.

For go fix, I'm not sure how it knows the previous version.

[2015-03-01 19:55] DavyLandman opened #778 "Add m3 containment for physical to logical source locations."
I recently wrote some m3 code and found the physical locations in the `@uses` a bit unpleasant. I understand why they are physical, or at least why they used to be (perhaps this could be reconsidered).

But, I think this can be alleviated by adding a containment kind of relation but for physical to closest logical source location.

If you have for example 10 uses of a field in a method, you might

[2015-03-02 07:19] jurgenvinju commented on #778
That will not work Davy. First of all not all m3 models are registered for resolution, second not every source code utterance has a uniquely qualified name. Therefore uses goes from physical location to logical. The decl relation is the source for the resolution of logical locations. Let's keep it simple. If you want or need more containment, asts are the thing.

[2015-03-02 07:20] jurgenvinju commented on #778
We could write a function with said functionality. First map logical to physical then check containment?

[2015-03-05 14:44] jurgenvinju opened #779 "`"/"[1..]` throws indexoutofbound"
[code]

but is should be the empty string

[2015-03-05 14:44] jurgenvinju commented on #779
[code]

[2015-03-05 14:46] PaulKlint commented on #779
No, since the index 1 is already out of bounds in both cases.

[2015-03-05 14:49] jurgenvinju commented on #779
yes, but it's an external bound not an internal bound.. so the result should be the empty string and the empty list

[2015-03-05 14:50] jurgenvinju commented on #779
Consider `[0,1][1..]` returns `[1]`

[2015-03-05 14:51] jurgenvinju commented on #779
the use case in ossmeter is to remove a trailing slash from a path `"/"[1..]`

[2015-03-05 14:56] PaulKlint commented on #779
`[0,1][1..] `returns `[1]`  since 1 is a legal index.

Why not use a negative end index and start counting from the right: `"abcd/"[0..-1]` returns `"abcd"`.

[2015-03-05 15:02] jurgenvinju commented on #779
how to take a tail? I need "/aap" to "aap" and "/" to ""

[2015-03-05 15:08] jurgenvinju commented on #779
Other interesting effect:

[code]

which seems useful, but inconsistent with the indexoutofbounds on `"/"[1..]`

[2015-03-05 15:14] PaulKlint commented on #779
Maybe the `IndexOutOfBounds` is too harsh and we should default to `""` or `[]` in relevant cases.

[2015-03-05 15:26] jurgenvinju commented on #779
I would like that too. Should allow only off-by-one, or also off-by-more? `"/"[2..]`

[2015-03-05 15:30] PaulKlint commented on #779
This is what Python does: `[1][2:]` gives `[]` and `"/"[1:] `gives `""`.

I think this is exactly the desired behaviour.

[2015-03-05 15:33] jurgenvinju commented on #779
ok.

[2015-03-05 15:59] jurgenvinju opened #780 """[0..0] throws emptylist"
[code]

[2015-03-05 16:03] jurgenvinju commented on #779
@PaulKlint what about `"aap"[0..6]` ? @ashimshahi  and I believe it should return `"aap"` then too

[2015-03-05 16:08] PaulKlint commented on #779
Let's do the Python check again:  `"aap"[0:6]` indeed gives `"aap"`.

[2015-03-05 16:13] jurgenvinju commented on #779
ok done.

[2015-03-05 16:13] #779 closed

[2015-03-05 16:13] jurgenvinju commented on #779
test case might fail in RVM builtin. Should I or will you?

[2015-03-05 16:26] PaulKlint commented on #779
Have you changed this for all slice types (list, string node,)?

[2015-03-05 16:27] PaulKlint commented on #779
I will fix the uilt-ins in RascalPrimitives.

[2015-03-05 16:48] PaulKlint commented on #779
On the compiler side this is indeed dead simple (there is just one slice computation for all kinds of slices).
The following code now always works (whether the separator is present or not):
[code]

[2015-03-06 06:25] jurgenvinju commented on #779
very nice

[2015-03-06 21:57] PaulKlint opened #781 "TC infers incorrect type for catch clause consisting of only a qualifiedName"
Given
[code]
the type checker decides that `s` has type `adt("RuntimeException",[])` but this should be `value`.

The case of a typed variable works well, e.g., `catch str s` will result in `s` having type `str`.

[Note: this case is now temporarily solved in the compiler]

[2015-03-07 09:31] PaulKlint opened #782 "TC: alias is not properly imported"
`Result` is defined as `alias Result = tuple[Lval val, Env env];` in module `demo::lang::Lisra::Runtime` that is imported by `demo::lang::Lisra::Pretty`. Nonetheless,
[code]
gives
[code]

[2015-03-07 10:31] mahills commented on #782
I don't think this is actually broken, this is the line of code responsible for the message:

    str pretty(Closure(Result(list[Lval] args, Env env))) = "Closure(<args>)";

Here, `Result` is being used as a constructor, but it hasn't been defined as one -- it's been defined as a tuple. The message seems accurate.

[2015-03-07 10:32] mahills commented on #781
I'm guessing this is because, at one point, we assumed that all exceptions were of type `RuntimeException`. This has never been enforced, though, and in practice we just throw arbitrary values. I just need to adjust to code to do this, assuming we don't want to start enforcing this.

[2015-03-07 10:34] mahills commented on #767
Note: the actual case in the checker has been removed, but we still need to handle the situation, one way or another, more generally.

[2015-03-07 10:42] PaulKlint commented on #782
Weird, you are completely right and this can never have worked. In `eval.rsc` similar cases occur.
I leave this open until I have fixed this. I will also change the name and labels,

[2015-03-07 10:46] PaulKlint commented on #781
I think the value that is thrown should be of type value. In the cases, one can then match on specific values, including values of type `RuntimeException`.

As mentioned above, I have a temporary fix in the compiler so there is no hurry for this one.

[2015-03-07 10:49] PaulKlint commented on #767
Yes I have noticed. I can now compile `CheckTypes` and after fixing some serious bugs in the compiler (I will summarize when I am done with `CheckTypes`) now only a few dozen of the type checker tests are still failing. I __maybe__ done with the type checker in a week or so

[2015-03-07 11:11] mahills commented on #767
Hi @PaulKlint I knew that you knew, it's just ridiculously early at the airport so I'm updating status messages on GitHub :)

[2015-03-07 13:31] PaulKlint commented on #767
Take care! Maybe a brief summary how your talks went via a more private channel?

[2015-03-07 13:39] anyahelene commented on #767
On 7 March 2015 14:31:12 CET, Paul Klint <notifications@github.com> wrote:

We're certainly very happy with his OOPSLE talk. I think he may even have mentioned Rascal once or twice...

[2015-03-07 14:21] PaulKlint commented on #767
@anyahelene sounds good, thanks!

[2015-03-09 23:53] PaulKlint opened #783 "AliasTCTests cause a loop in the type checker"
The type checker does not terminate for the  tests `circularAliasError1`, ... `circularAliasError4` in `lang::rascal::tests::types::AliasTCTests`.

[2015-03-10 20:26] droptablestar opened #784 "Java m3 AST functions crash on empty constructor"
As posted here: http://tutor.rascal-mpl.org/Rascal/Libraries/lang/java/m3/AST/AST.html

A class that has an empty constructor will produce a NullPointerException. For example:

public class AbstractButton {
    public AbstractButton();
}

Will crash the parser while:

public class AbstractButton {
   public Foo();
}

Is OK.

[2015-03-10 20:52] droptablestar opened #785 "createAstsFromDirectory() causing error"
I am trying to use createAstsFromDirectory() to, well, create AST's from a directory. I am running this in the following way:

api = createAstsFromDirectory(|cwd:///Rasket/template/gui/swing|, true);

If we take a look at that directory we see:

$ l Rasket/template/gui/swing/
-rw-r--r--  1 jreese  staff   898B Mar 10 13:42 AbstractButton.java
...
drwxr-xr-x  6 jreese  staff   204B Mar 10 13:42 tex

[2015-03-11 06:46] jurgenvinju commented on #785
thanks for the report. Looks like the bug has been resolved at least on the HEAD. Which release of Rascal are you currently on? I'm hoping we released with the bugfix in the meantime.

[2015-03-11 09:50] PaulKlint opened #786 "TC seems to mix-up imported grammars"
Compiling the following example gives unexpected error messages that suggest that the Rascal grammar (indeed imported by `StaticTestingUtils`) is still visible when the Pico grammar is being checked. Both grammars indeed use the names `body` and `name` in their rules but this should not lead to this confusion.

[code]
gives
[code]

[2015-03-11 10:49] PaulKlint commented on #786
This example comes from `lang::rascal::tests::types::PatternTCTests` and I just noticed that the import of `demo::lang::Pico::Syntax` is completely redundant. So in that specific case this error is no show stopper, but it may bite us in the future :-(

[2015-03-11 22:47] mahills commented on #786
I'll have to go back and look through prior notes, but I think this is clashing with what we decided earlier. Part of the reason we are seeing this is because we are bringing in all the syntax info transitively, even when it isn't in scope, since the compiler needed this. It may be possible, in that case, to have it not register the sorts into the global sort map, but this may cause all sorts of c

[2015-03-11 23:50] PaulKlint commented on #786
You are right this seems to be a recurring theme and that probably means that we have not yet found the ideal solution. As for now, let's keep the issue open but wait to address it when a more urgent occurrence surfaces.

[2015-03-12 08:51] DavyLandman opened #787 "Add syntactic sugar for calling a function on a list or set"
Inspired by the ease of R and Matlab to write functions that handle both single elements and list of elements, I would like to propose an extension to Rascal.

I've found that I quite often have to write `List::mapper` like comprehension just to iterate over a list and set, and reproduce the list/set with some method called on it. While `mapper` works for basic functions, such as `trim` or `size`,

[2015-03-12 08:53] jurgenvinju commented on #787
just a note: if none of the arguments are a list does not mean "at least one is a set". It means "all are a set"

[2015-03-12 08:54] jurgenvinju commented on #787
the proposal is semantically unambiguous I believe, and the syntax we already have. Easy to implement in the compiler, pretty difficult in the interpreter.

[2015-03-12 08:54] DavyLandman commented on #787
true, I meant, if you have `add(*st, 2)` than not all the arguments are a set...

But this is also caused by the fact that I didn't think of a name for these (spliced?) arguments, so I couldn't reference just them.

[2015-03-12 08:55] jurgenvinju commented on #787
"spliced arguments"?

[2015-03-12 09:00] jurgenvinju commented on #787
for normal expressions like `*l + 2` I believe it's more problematic due to overloading of the `+`; viz. in `*l + 2 + *m` the meaning of the second `+` is different than the first `+` (appending versus addition). Not so nice.

[2015-03-12 10:18] PaulKlint commented on #787
The good news is that a splice  operator outside a list or set does not have a meaning yet. The bad news is that both the typechecker end the compiler have to do two passes over every call to check for the presence of top-level splice operators.

[2015-03-12 10:31] jurgenvinju commented on #787
Do you think that would harm the speed of either? It's just short argument lists right? What if we desugar the expressions before even type checking?

[2015-03-12 10:48] tvdstorm commented on #787
We need the `*` for list splicing in varargs, which is not implemented:

[code]
Throws unsupported exception.
Ergo, I think general arguments splicing is problematic to support.

[2015-03-12 12:07] jurgenvinju commented on #787
@tvdstorm you could simply write `sum([1,2,*[3,4,5]])` to get the same result without interference.

[2015-03-12 12:40] tvdstorm commented on #787
But then it's not consistent.

[2015-03-12 12:44] PaulKlint commented on #787
@tvdstorm's requested varargs are more general than the simple sum example and allow to splice parameters in any argument list.

[2015-03-12 12:45] tvdstorm commented on #787
@PaulKlint yes, I know, but I think we need the `*` for this one first...

[2015-03-12 12:47] jurgenvinju commented on #787
guys, the general splicing of argument lists outside of varargs is much more contentious; how to type-check the call? Is that really something we want/need?

[2015-03-12 12:50] jurgenvinju commented on #787
Or we select another notation to at least be able to split these two discussions.

[2015-03-12 12:51] PaulKlint commented on #787
Varargs splicing is problematic for the type checker: we have to defer the actual function selection to run-time.

[2015-03-12 12:52] PaulKlint commented on #787
I want to lift the discussion to the level where we discuss how various languages treat these array/vector operations.

[2015-03-12 13:07] jurgenvinju commented on #787
good plan.

* matlab has special operators for "element by element operators": `A.*B is the element-by-element product of A and B.`
* matlab does not seem to have function call for arrays. they have a `map` function called `arrayfunc` which takes a lambda with a single parameter and an array.

[2015-03-12 13:12] tvdstorm commented on #787
I think this feature is called lifting; it comes from APL.
Would it be enough to just allow `list[T]` and `set[T]` on functions taking `T`s and convert them of the mapped versions. No need for `*`.

[2015-03-12 13:13] DavyLandman commented on #787
R
===

[code]

Inside R functions, you have to test the kind of data coming in, and then pick the correct `(s|m|f)apply` function to call yourself on the elements, or if you get passed a scalar, you continue. There is also the [`Vectorize`](http://stat.ethz.ch/R-manual/R-devel/library/base/html/Vectorize.html) function which generates a new function that automatically picks the right apply functio

[2015-03-12 13:13] jurgenvinju commented on #787
in R:

   * `lapply(X, FUN, ...)` - map function (and some variants)
   * binary operators are overloaded on lists such that they mean element-wise multiplication (as opposed to Rascal where they mean concat/union etc.)

[2015-03-12 13:17] jurgenvinju commented on #787
@tvdstorm maybe, but it would be conflicting with our dynamic overloading mechanism. i.e. ambiguous for:

[code]

[2015-03-12 13:19] tvdstorm commented on #787
this should be 0.
Explicit over implicit.

[2015-03-12 13:19] PaulKlint commented on #787
I am certainly __NOT__ advocating the pointfree style of APL and J, it is still interesting to see how APL and J handle these operations:
APL: http://en.wikipedia.org/wiki/APL_syntax_and_symbols
J: http://en.wikipedia.org/wiki/J_(programming_language)

[2015-03-12 13:32] jurgenvinju commented on #787
but @tvdstorm it remains ambiguous even if you think it should be one or the other. Pattern dispatch is done at run-time, so people will never know which semantics will be taken in general and at run-time suddenly a different kind of return value will be returned. Also the type checker will not be able to statically infer one or the other return type (which is necessary for local type inference).

[2015-03-12 13:33] anyahelene commented on #787
On 03/12/2015 02:12 PM, Tijs van der Storm wrote:

Aye, it's lifting. Explicit syntax is probably better than implicit lifting.

What about

   f*(ts, us)

or f^ or something like it?

Note that if you allow half-way lifting, as Davy originally proposed (e.g.,
add(*lst, 2) == [add(e, 2) | e <- lst]), then you'll sooner or later run
into ambiguities (for overloaded functions) if the arguments aren'

[2015-03-12 13:37] jurgenvinju commented on #787
APL has reducers with a more concise syntax than we do, with the `/` notation you can map a `+` over an array like so: `+/ 1 2 3`

[2015-03-12 13:39] jurgenvinju commented on #787
@anyahelene 's suggestion is interesting since it (a) removes the overloading of `*` in expressions and (b) can do everything davy suggested but with some extra square brackets: `add*(l, [1])` as opposed  to the earlier `add(*l, 1)`

[2015-03-13 20:59] DavyLandman commented on #787
I think, the choice should be per argument, not on a function level. Not all arguments with collections would have to be splices arguments.

[code]

And I think they should both be possible.

[2015-03-16 12:42] jurgenvinju commented on #787
Let's come up with a different operator then?

[2015-03-16 12:55] DavyLandman commented on #787
[code]

[2015-03-18 12:30] jurgenvinju opened #788 "org.rascalmpl.test.BasicAndFunctionalityAndLibraryCompiledSuite does not work"
It just takes a long time and finally let's all tests file. There must be something wrong in the compiled test runner infra-structure. We should fix this such that we can start running these tests from jenkins.

[2015-03-18 12:31] jurgenvinju commented on #785
@jreeseue Josh, could you tell us which version of Rascal you are on?

[2015-03-18 21:11] jreeseue commented on #785
Sorry, didn't see this notification. I'm running this on the command line from rascal-0.7.0.jar

[2015-03-19 13:14] jurgenvinju commented on #785
I believe we may have fixed this one in rascal-0.7.2; do you have a few minutes to try it out? <http://update.rascal-mpl.org/console/rascal-shell-stable.jar>

[2015-03-19 14:44] jreeseue commented on #785
I've downloaded the updated jar file but now I'm unable to load the Java m3 module.
New jar file:
[code]
Old jar file:
[code]

[2015-03-23 12:46] DavyLandman opened #789 "any scope leak."
[code]

while the reducer version of this:

[code]
It's not better, but at least it doesn't leak..

Interesting, `all` doesn't leak:

[code]

[2015-03-23 12:53] PaulKlint commented on #789
Just for the record: the type checker handles this properly and flags `i` as undeclared.

[2015-03-23 16:37] DavyLandman opened #790 "`createM3FromFile` fails for every file i've tried"
Take for example this file:
https://github.com/cwi-swat/rascal/blob/master/test/org/rascalmpl/test/data/patterns/micro/Designator.java

[code]

The `createM3FromEclipseFile` does work.

[2015-03-23 21:26] jurgenvinju commented on #790
I believe it requires setting the environment options first, via the setEnvironmentOptions function, or something which rhymes with this. CreateM3FromEclipseFile does this for you since it can infer the right meta-data from the project that the file contains:

[code]

[2015-03-23 21:27] jurgenvinju commented on #790
Let's consider this a documentation bug?

[2015-03-23 21:30] DavyLandman commented on #790
ah, too small of a repo case..

[code]

that code does `setEnvironmentOptions` and fails in the same way.

[2015-03-23 21:30] DavyLandman commented on #790
(so I don't agree that this is a documentation bug)

[2015-03-23 21:37] jurgenvinju commented on #790
It's a documentation bug for `createM3FromFile` since that does not work before you call setEnvironmentOptions. Then it's still a documentation bug for `createM3FromDirectory` which only works if you point to the parent of a top-level source folder or a source folder directly. The function calls `getPaths` which searches recursively from the given start `project` location for Java files. This retu

[2015-03-24 07:45] DavyLandman commented on #790
ah, okay, that was non-intuitive.

Perhaps the names of these two functions are a bit wishfull?

and indeed provide better exceptions instead of this java error popping trough.

[2015-03-24 08:54] DavyLandman commented on #790
How about an extra param for `createM3FromFile` ?

[2015-03-24 08:55] ashimshahi commented on #790
I agree with putting up a test in `createM3FromDirectory` to fail fast.

For `createM3FromFile` maybe guessing the options like we do with `createM3FromDirectory` might help. I agree with @DavyLandman that the name and the current action do not quite match up.

@DavyLandman thanks for catching this :+1: These two are relatively less tested in comparison to their eclipse counterparts.

[2015-03-24 10:39] DavyLandman commented on #688
recently I've also come across this bug.

is this to hard to fix?

[2015-03-24 10:43] DavyLandman commented on #790
[code]

I just tried running it on the "correct" path, and it still fails?

[2015-03-24 10:58] DavyLandman commented on #790
aha, the problem is.. it only works for `|file://|` locations... (or at least, it doesn't work at all for project locs)

Perhaps a check in the function to only allow a certain set of schemes? (cwd and file?)

relevant gif:
![face palm](http://replygif.net/i/792.gif)

[2015-03-24 11:00] DavyLandman opened #791 "Type is not enumarable when trying to pattern match on a reified type?"
[code]

prints:

[code]

[2015-03-24 11:13] ashimshahi commented on #790
From what I read from the source, no other scheme except `file` would work (haven't tested it though!). The reason the eclipse version isn't broken it because it changes all `loc` with `project` schemes to `file` internally.

Changes were made in c92fe8be7e2695a91b7a02ca4c2e2afbf7ceed9c and seem to have gone undetected till now. I'll  see how this can be resolved.

[2015-03-24 11:48] PaulKlint opened #792 "Incorrect use handling by TC for ==> and <==>"
After type checking this program:
[code]
the use of the variable `xyz` does not occur in the configuration returned by the type checker.

Replacing `==>` by `<==>` has the same effect, however using `==` works fine.

[2015-03-24 12:28] jurgenvinju commented on #790
Indeed, this is all about the file scheme it seem. Let's just check in setEnvironmentOptions if nothing else but the file scheme is included and otherwise fail fast?

[2015-03-24 13:32] DavyLandman commented on #688
sorry @MagielBruntink, it seemed the bug slipped through..

now it should be fixed again.

[2015-03-24 13:32] #688 closed

[2015-03-24 15:10] DavyLandman commented on #790
also, the call to `getM3FromFile` and `getASTFromFile(_,true)` should check this.

[2015-03-24 23:07] mahills commented on #792
If I run this using the checker I see the following:

[code]

This seems like what one would expect. Are you not seeing it in the configuration at all? I haven't changed anything related to this.

[2015-03-25 06:32] jurgenvinju opened #793 "pattern matching on locations"
We have several functions in the library which only work for certain schema. Instead of adding a type system extension, we have pattern matching capability to avoid this, but we currently do not have a proper syntax for matching locations. If we would have this, we could write functions to match only the accepted schema in the header and document their behavior precisely:

[code]

This is not a tr

[2015-03-25 08:41] PaulKlint commented on #792
Thanks for the double check. You are right: I get a NoSuchKey(69) error in the compiler and misread the 69 for a 63. Sorry for the confusion, I keep digging ...

[2015-03-25 08:41] #792 closed

[2015-03-25 13:37] DavyLandman opened #794 "simple pattern match turns into infinite loop"
By accident I wrote this:

[code]

this keeps on printing zeroes...

[2015-03-25 13:54] jurgenvinju commented on #794
nice bug; short example which is immediately a good test!

[2015-03-25 14:12] DavyLandman opened #795 "`all` fails with pattern match on a set"
[code]

if we wrap the `{_} := {i}` with a function:

[code]

[2015-03-25 14:12] DavyLandman commented on #795
@PaulKlint told me the compiler handles this correctly.

[2015-03-26 08:02] PaulKlint opened #796 "Strange import behavior of interpreter in case of extend and overloading"
The following example gives `true` as expected:
[code]
However, adding `import Type` before *or* after the import of `ParseTree` leads to a `false` result!

Background: it is useful to summarize the following facts:
- `ParseTree` extends `Type`.
- `Type` defines the functions `subtype` and `comparable`
- `ParseTree` adds overloaded functions for `subtype`.

My guess is that the versions of `subtyp

[2015-03-26 14:22] mahills commented on #796
This is something I've noticed with the type checker as well. If `ParseTree` is imported, additional cases for `subtype`, which are defined in `AbstractType` (which extends `ParseTree`), stop working. I believe this is based on the lookup process used by the interpreter, it finds the overload set for the function in the wrong module and this does not include the additional cases.

[2015-03-26 20:22] PaulKlint commented on #796
I am now observing exactly the same phenomena from the compiler's perspective while compiling the type checker. I am working on a solution in the compiler. Question: can I discover from the type checker configuration whether a module has been imported versus extended? I may need this information.

[2015-03-27 08:00] jurgenvinju commented on #796
Just for completeness sake and to check whether we have the same understanding:

   * functions in imported modules should not fuse with local functions or other imported functions with the same name; if ambiguity arises at the call site, then qualifying the module name should disambiguate.
   * functions in extended modules do merge with locally declared functions with the same name and other fun

[2015-03-27 08:57] PaulKlint commented on #796
@jurgenvinju thanks, don't worry, we are on the same page, this one ;-))

[2015-03-27 08:59] PaulKlint commented on #796
@mahills forget about my question above, I can easily figure out which modules are being extended.

[2015-03-27 12:27] mahills commented on #796
Okay. I have some logic that computes this as well if you wind up needing it for some reason (it actually computes the entire import/extend graph), just let me know.

[2015-03-27 12:46] jurgenvinju commented on #796
that graph would also be a great IDE feature ... (good old Meta-Environment...)

[2015-03-29 21:33] PaulKlint commented on #796
@mahills: it turns out that for doing correct overloading resolution and extension in the presence of extended modules I also need the import graph. Therefore it would be great if you can add:
- the import graph, maybe as a Graph[loc]
- a set of extended modules.
- a set of "dirty" modules, i.e. modules that have been rechecked.
When this information is present, I can handle extended modules prope

[2015-03-30 13:56] mahills commented on #796
I'll take a look at it, it should be fairly easy to add this information into the configuration.

[2015-03-31 01:39] droptablestar opened #797 "Non-default visits don't work for java::m3::AST::Statement"
I am trying to perform a non-default visit on the Statement type in the lang::java::m3::AST module but this is causing an error. The function causing this is:

[code]

Where Stmt is an alias for java::lang::m3::AST::Statement. Causes the interpreter to crash.

[2015-03-31 02:57] mahills commented on #797
Could you please post the entire function causing the crash and the error message you are getting?

[2015-03-31 07:45] jurgenvinju opened #798 "idea for a Java annotation processor generator"
let's write a generic JVM annotation processor with which Rascal functions can be registered as annotation processors for arbitrary java annotations. This will hook in all Rascal tools for Java static checking and or code generation directly into any IDE which supports Java annotation processing.

See http://hannesdorfmann.com/annotation-processing/annotationprocessing101/

One note: every time an

[2015-03-31 08:39] matthisk opened #799 "Reloading transitively extended modules on console"
If you have the following modules: A, B and C. Where A extends B and B extend C.

A.rsc
[code]

B.rsc
[code]

C.rsc
[code]

If you load module A on the console and call `giveInteger` the function returns 10. However when you change the value to say 15 call the function again from the console it hasn't been reloaded and you still get 10. Importing module A again also does not help, you have to star

[2015-03-31 10:14] jurgenvinju commented on #799
nice and short description! will have a look.

[2015-03-31 13:38] jreeseue commented on #797
Code that will reproduce the error:

[code]

Error:
[code]

Code that doesn't cause an error:
[code]
Output from functional code:
[code]

[2015-03-31 14:19] mahills opened #800 "Printing dates is now broken"
I'm getting this when printing dates:

[code]

I'm assuming this is related to commit c807927c246d1c02eb0673432ae3c20d0baa1181 since it seems to believe the current month is April (hence the days range).

How long are we staying on Java 7? I would really like to rip out the IBM datetime classes, which have various problems, and either switch to Joda or go with the Java 8 java.util.time package.

[2015-03-31 14:42] mahills commented on #797
Thank you, we'll take a look at it.

[2015-03-31 15:26] jurgenvinju commented on #800
Java 7 is out the door IMHO. We can go to 8 right now. Jenkins will be updated soon if we do :)

Sorry for this bug. It's a workaround for an off-by-one somewhere else. It's a neverending story it seems.

[2015-03-31 15:28] DavyLandman commented on #800
I updated, Jenkins yesterday, we only need to have a jdk8 installed on Lille.

[2015-04-01 02:27] mahills commented on #797
I just committed a fix to one of the Rascal dependencies. The problem is specifically with using an alias, this is now resolved, but for now you can instead just use Statement. If you are using the Rascal plugin, this should be resolved as soon as the plugin in rebuilt. I'll leave this open for now just in case.

[2015-04-01 07:27] DavyLandman opened #801 "Simplify console auto complete and search in history"
The Rascal console in eclipse has both search in history and a form of auto complete.

They are a bit hidden behind non intuitive key combo's. (At least for shells in my opinion)

I want to propose the following:

Auto complete: TAB
History search: type something and press up, the thing you typed will be searched for.

The TAB is very common, and the hit up for search I've also seen a few times.

[2015-04-01 07:30] DavyLandman opened #802 "Make console auto complete file aware?"
There are two common points where I miss auto complete in our eclipse console.

Importing modules and writing loc literals.

Both can quite easily detected with a regular expression, so I was thinking of adding completion for imports and file/project loc literals.

Thoughts?

[2015-04-01 08:26] tvdstorm commented on #802
+1

[2015-04-01 08:27] tvdstorm commented on #801
+1

[2015-04-01 09:11] jurgenvinju commented on #801
+1

[2015-04-01 11:00] DavyLandman commented on #801
so @tvdstorm told me he doesn't really like the <kbd>UP</kbd> as search behaviour? I've seen it before in other places, and found it quite intuitive. You type something and then you want to find the other lines where you typed that. So you go <kbd>UP</kbd> like you normally would, except now it is filtered.

I guess <kbd>CTRL</kbd>+<kbd>R</kbd> is more common. @jurgenvinju why did you pick the cur

[2015-04-01 13:47] jurgenvinju commented on #801
I think I chose a short-cut which does not collide with an existing Eclipse shortcut.

[2015-04-07 17:54] jurgenvinju opened #803 "two median functions which overlap"
In `analysis::statistics::Descriptive` there are two functions with overlapping signatures:

`(&T <: num) median(list[&T<:num] l:[]) ` which throws an exception and

`real median(list[num] nums) ` which does something

what is also weird  is that the definitions are not close to eachother in the file.

[2015-04-07 17:57] jurgenvinju commented on #803
this one could break the ossmeter platform for example..

[2015-04-07 18:40] DavyLandman commented on #803
I've added unit test, why is the build not failing?

[2015-04-07 19:03] DavyLandman commented on #803
could it be that these tests aren't run by the build server:
https://github.com/cwi-swat/rascal/blob/master/src/org/rascalmpl/library/lang/rascal/tests/library/analysis/statistics/DescriptiveTests.rsc
?

[2015-04-14 09:04] #801 closed

[2015-04-14 11:28] DavyLandman commented on #801
So, I've changed the shortcuts.

cycle through completions: <kbd>TAB</kbd>
Backwards-search: <kbd>CTRL/CMD</kbd>+<kbd>R</kbd>
Forwards-search:<kbd>CTRL/CMD</kbd>+<kbd>ALT</kbd>+<kbd>R</kbd>

normally, forwards search would be <kbd>CTRL/CMD</kbd>+<kbd>SHIFT</kbd>+<kbd>R</kbd> but in eclipse this is mapped to Open Resource, and cannot be overriden.

[2015-04-17 11:07] rperz opened #804 "unstable not working on Windows"
I've just installed the Rascal unstable version on Windows and I can't open the Console. The following error is shown.

An internal error has occurred.
Could not import module IO: can not find in search path
[Advice](http://tutor.rascal-mpl.org/Errors/Static/ModuleImport/ModuleImport.html)

A build from source doesn't work either, opening any rascal file in the rascal container tells me that it's

[2015-04-17 13:11] PaulKlint opened #805 "lang::csv::IO: generate calls old version of getCSVType"
The signature of `getCSVType` has been changed from using a table with options to a separate keyword parameter for each option. `generate` still uses the old version.

+1 for the type checker.

[2015-04-18 21:11] PaulKlint opened #806 "How much meta-information do we want to have in compiled Rascal code?"
At the moment, compiled Rascal code already contains quite an amount of meta-data but it is possible to make more meta-data available. Below is a list of what is currently available and under _Optional Extras_ possible extra information is listed.

__Questions to consider__
- Which extra information is useful/desirable?
- Do you see other extra information that we might want to have in the future?

[2015-04-18 21:14] jurgenvinju commented on #806
For some IDE services we need functions to be discoverable in the sense of a list of functions which can be searched by name or by certain annotations; also their parameter types would be useful for dynamically checking possible errors. Then we need to be able to call these functions from Java.

[2015-04-18 21:17] PaulKlint commented on #806
Actually more info is available that covers your wishes. I will add them to the above list

[2015-04-18 21:23] PaulKlint commented on #806
Calling compiled functions from Java should be doable but is currently not yet supported.

[2015-04-18 21:23] jurgenvinju commented on #806
Ok. that's all we need for the IDE.

[2015-04-18 21:26] PaulKlint commented on #806
There is also the information (and API) needed to cooperate with the Eclipse debugger, but that will become clear when we start working on it.

[2015-04-18 21:28] jurgenvinju commented on #806
yes, that will be a different topic, and we know it's possible.

[2015-04-19 07:44] DavyLandman commented on #806
Does the list of declarations include the extended module?

[2015-04-19 07:52] PaulKlint commented on #806
The list of declarations in the linked `RVMExecutable` contains _all_ function declarations from _all_ imported modules. I might also add to each function the module in which it has been defined and then it will be really easy to search for a function in a specific module.

[2015-04-20 07:05] jurgenvinju commented on #806
That would be great, and easy to use in the IDE features.

[2015-04-21 07:44] jurgenvinju opened #807 "More tests for ifdefined, isdefined and isdefinedotherwise"
Note to self

[2015-04-22 08:40] rperz commented on #804
So, the problem seems to be that the URIValues don't take into account the platform that I'm on. I've fixed this in my local code by replacing the URL entry declaration in the **org.rascalmpl.eclipse.uri.resolve(ISourceLocation uri)** by:

    String path = uri.getPath();
    path = path.replace('\\','/');
    path = (path.charAt(0) == '/' ? path.substring(1) : path);
    URL entry = Platform.getB

[2015-04-22 10:25] jurgenvinju commented on #804
Thanks. We are still looking for the source of the wrong slashes. Most URI values have the slashes in the right direction. We should kill the wrong ones at the source :-) At least this is a bundleentry URI so we can look for code which generates bundleentries... I believe this is OSGI ClassLoader stuff. Will get back to you!

[2015-04-22 16:06] jurgenvinju opened #808 "CSV random regression test failed on build server"
[code]

[2015-04-23 07:20] jurgenvinju opened #809 "finish type system for non-terminals"
Up to now we have avoided to implement a full type system for non-terminals. To finish it we need only a few additions (but does require some engineering/testing):

* character-class subset relation as subtypes
* plus lists sub-types of star lists
* co-variance
* auto-wrapping/unwrapping for regular expressions (mirrored from the lists which already do this)

More concretely:

[code]

then we also

[2015-04-23 07:22] ruudvanderweijde commented on #649
I bit late reply, but the parse error was caused by: `()` in `TypeSet Intersection({(), _*}) = EmptySet();`
Eclipse does not highlight this syntax error, which makes it hard to find.

[2015-04-23 07:29] jurgenvinju commented on #649
that really helps! just a sec

[2015-04-23 07:35] jurgenvinju commented on #649
we haven't implemented pattern matching for maps yet. I've fixed the bug but now you get a nyi exception :-(

[2015-04-23 07:37] #649 closed

[2015-04-23 07:46] jurgenvinju commented on #649
See #290

[2015-04-23 17:56] jurgenvinju opened #810 "test failed on replaceAll"
http://build.rascal-mpl.org/job/rascal/lastCompletedBuild/org.rascalmpl$rascal/testReport/org.rascalmpl.test.infrastructure/RascalJUnitTestRunner/tstReplaceAll___6919_221_/

[2015-04-29 07:59] DavyLandman commented on #95
Closed this old issue, as it was assigned to me and still talked about jdt.

[2015-04-29 09:24] #805 closed

[2015-04-29 09:24] #808 closed

[2015-04-30 11:14] DavyLandman commented on #810
Sadly, this links to the latest test run.. so this doesn't contain the info needed to reproduce it.

[2015-04-30 11:40] PaulKlint opened #811 "lastModified does not work for project scheme"
`lastModified` does not work for project scheme, see this example:

[code]

[2015-04-30 12:42] #811 closed

[2015-04-30 13:13] PaulKlint commented on #811
Perfect! & Thanks, it was a showstopper since I use this during incremental recompilation

[2015-04-30 20:59] jurgenvinju commented on #811
it was quite a funny bug. The previous code returned the number of modifications by Eclipse API on the file since the last time the project was closed and opened or something as a `long` instead of the timestamp.

[2015-04-30 21:04] PaulKlint commented on #811
Wow, that is a strange error. I am improving incremental compilation and it took some time before I spotted this strange behavior of `lastModified`.

[2015-05-07 08:37] PaulKlint opened #812 "TC: Provide type info with unexpanded aliases"
The type checker provides in the returned configuration definitions for constructors in which aliases have already been expanded. This is fine in most situations but makes it impossible on the compiler-side to do completely faithful type reification and this starts hurting while bootstrapping: then expanded and unexpanded constructor definitions come together and are rejected by the overloading ch

[2015-05-07 09:07] PaulKlint commented on #812
An alternative solution could be to this all on the compiler side by analyzing all data and alias declarations. Seems more work than doing it in the typechecker, what do you think @mahills?

[2015-05-08 07:28] #804 closed

[2015-05-08 07:29] DavyLandman commented on #804
I seem to have fixed the issue, I'll be making sure there is a new rascal unstable release, so in an hour, try an update and see if this also fixed it for you.

[2015-05-09 11:36] PaulKlint opened #813 "Towards an integrated FactBase?"
In various projects (PHP analysis, Java analysis, OSSMETER) we have used ad hoc mechanisms to store the results of analysis of large code repositories (parse trees, call graphs, control flow graphs, metrics, ...). In a private discussion with @mahills the question came up whether we should not strive for a uniform solution for this problem. This issue is intended to:
- Start a discussion on this t

[2015-05-10 11:23] PaulKlint opened #814 "Is it possible to compute a more precise type?"
Consider the following program (non-sensical since it will trow an exception for the missing key `3`):

[code]

This program is accepted by the type checker but the type assigned to `matched[3]` is `void`.
I handle this case in the compiler by falling back to the general `equal` primitive rather than using the more efficient `int_equal_int`.

Question: it seems that the type checker _could_ infer

[2015-05-11 11:50] PaulKlint commented on #812
I have discussed this issue with @jurgenvinju and he came up with another solution: adapting the interpreter to force expansion of aliases before a constructor is actually introduced in the TypeStore. In this way, aliases can be gradually removed from the PDB and become exclusively a Rascal feature. We will further explore this solution direction.

[2015-05-11 14:06] mahills commented on #812
I think that sounds mostly reasonable, although we do want to make sure that they still display correctly to the user -- it will be confusing if they no longer see the aliases. I actually didn't think I was expanding the versions saved in the configuration (or at least had the unexpanded versions around), so I'll follow up with this on my side as well.

[2015-05-11 14:07] mahills commented on #814
I'm checking this, I'm actually surprised that it type checks without giving an error.

[2015-05-11 14:38] mahills commented on #814
I suspect I may have something in there to handle this as a special case, since normally having something like `matched[3]` with domain type `void` would be an error. It does type check.

To the bigger question, I think inferring that the type is `map[int,int]` would be a bad idea. The only situation where this would be necessary is when the type is actually `map[void,void]`, which occurs when we

[2015-05-11 14:38] jurgenvinju commented on #814
Just to avoid any confusion: more precise than `void` it doesn't get... it's the most precise type we have.

I agree with Mark, the question is why it type checks at all since `int` is not a sub-type of `void`

[2015-05-11 14:43] jurgenvinju commented on #813
Immediate thoughts:

* `facts.db` is an initial solution, but it needs a better (faster and more complete) serialization of pdb.values to be useful
* MongoDB itself can not be reused due to:
   * marshalling to JSON is too costly
   * 65k limits are not good for AST values
* but the design of mongodb can be an inspiration:
   * not fully lossless (serialization on a background thread)
   * flat sc

[2015-05-11 14:44] PaulKlint commented on #814
I agree that probably the most surprising observation is that this code passes the type checker,
Once this has been clarified I will remove the special case code in the compiler to handle this.

[2015-05-11 14:51] mahills commented on #814
I'm currently not using subtype to check this but am instead using `comparable`, which just means that one is a subtype of the other (here, `void` is a subtype of `int` so it passes). I'm assuming there is some good reason why I'm doing so, but I don't remember what that was :(

I guess I can tighten the checks up and see what fails...

[2015-05-11 15:05] tvdstorm commented on #813
One thought:
- we fundamentally can't have incremental updates at value level because it requires identity.

[2015-05-11 15:06] tvdstorm commented on #813
FYI: https://github.com/wouterkwakernaak/lapd

AFAIR the conclusion was: Neo4J did not help in this case.

[2015-05-11 15:19] PaulKlint commented on #813
@tvdstorm I agree that incremental _updates_ of (sub)values are too much. What we need is incremental _retrieval_ of subvalues. Use case: a large relation `rel[loc,CompilationUnit]` where the `CompilationUnit `is only retrieved from file when it is used. Even better: the retrieved subvalues live in a cache that can be flushed when necessary.

[2015-05-11 15:34] tvdstorm commented on #813
Ok.

Here's some *very* cool technology, that we may be able to profit from:
- http://wiki.eclipse.org/EMFIncQuery

Described here:
- https://scholar.google.hu/citations?view_op=view_citation&hl=en&user=4Ya6dVoAAAAJ&sortby=pubdate&citation_for_view=4Ya6dVoAAAAJ:BwyfMAYsbu0C

I've been told there are plans to make it independent of EMF.

[2015-05-16 14:09] PaulKlint commented on #812
I have solved this issue for now by doing the alias expansion at the PDB level as suggested above.
We may still want to include the unexpanded alias type in the configuration computed by the type checker, but we now have time to make up our minds for what this is precisely needed.

In the meantime I leave this issue open.

[2015-05-20 15:06] jurgenvinju opened #815 "parse error in concrete fragments of RascalPattern.rsc"
note to self and @PaulKlint ; in RascalPattern.rsc on lines 520 and 523 two concrete patterns do not parse due to use of parameterized non-terminal. It has to do with keyword parameters and could explain previous breakage.

[2015-05-20 15:30] #95 closed

[2015-05-20 16:30] jurgenvinju commented on #815
Interesting bug:
[code]

[2015-05-20 16:37] #815 closed

[2015-05-22 07:58] jurgenvinju opened #816 "RVM produces list trees without layout in the regular productions"
I think  I work around this now by introducing a bug in the subtype implementation at run-time, but it is not type correct behavior and will lead to subtle bugs elsewhere in the future.

After pattern matching a list out of something, like `... <{A ","}* l> ...` the `l` will be bound to `appl(regular(\iter-seps(sort("A"),[lit(",")])), ...` instead of the correct `appl(regular(\iter-seps(sort("A"),

[2015-05-22 08:36] jurgenvinju commented on #816
perhaps we should add a constructor declaration for `regular` as well, because the normal productions seem to be having the right layout.

[2015-05-22 13:10] DavyLandman opened #817 "Update value in map with only annotations change is lost"
We have the following behaviour:

[code]

however, if we replace the value in the map with a new one that only has a annotation changed, the change is lost.

[code]

I'm guessing some equality bug in our maps? @msteindorfer ?

[2015-05-26 13:40] DavyLandman opened #818 "Ambiguity with indexing a relation"
[code]

diagnose using:

[code]

braces off course fix it:

[code]

[2015-05-26 15:24] #817 closed

[2015-05-28 11:22] PaulKlint opened #819 "Add tests for unset and unsetRec"
Nearly all functions in the library `Node.rsc` now have proper tests.

To complete this, please add tests for `uset` and `unsetRec` to `lang::rascal::tests::library::NodeTests`

[2015-06-01 09:42] DavyLandman opened #820 "When calling a function and no overloads match, we get a confusing error."
[code]

(yes I know, a default is missing)

[code]

This message is a bit confusing, since the declared signature is the called signature.

Perhaps something with that there are alternatives that were tried, but they failed to match?

[2015-06-04 20:39] DavyLandman opened #821 "Should changing the file/path of a source location keep the offset&length information?"
Both @joukestoel and I have recently run into this confusion:

[code]

the location keeps the offset & length, I think that perhaps certain changes in the path should drop the offset information?

So what do you think, what would be more expected/consistent? And are there certain changes that might not drop the offset information?

[2015-06-04 20:58] DavyLandman opened #822 "Add keyword parameter for writeFile/readFile to make the encoding explicit."
For a long while now, UTF8 has been the "default" for writeFile/readFile. But this was also dependent on the default encoding setting of the JVM. I say "default" since we use some heuristics to guess if it could be UTF8 and then open it as such.

I want to propose the following change:

[code]

And remove the `readFileEnc` and `writeFileEnc` function.

There is one difference, mainly with Eclipse

[2015-06-04 21:02] tvdstorm commented on #821
This needs to be documented. Let's not add magic. You change the path, you change the path only. What if the change in path represents a move? Then you might want to keep position info.

[2015-06-04 21:04] tvdstorm commented on #822
A provided argument should never be overridden. (Explicit wins over implicit.)

[2015-06-04 21:05] DavyLandman commented on #822
agreed, but what if the kw param wasn't explicilty set?

[2015-06-04 21:06] tvdstorm commented on #822
Then it's unspecified, so we can apply any heuristic we want :)

[2015-06-04 21:09] DavyLandman commented on #822
well, I want to drop the heuristics. (or we need to add a `guess()` to `Charset`?)
Guessing of an encoding is quite a mess.

I guess I just wanted to remain respective of Eclipse settings?

[2015-06-04 21:10] tvdstorm commented on #822
That's also a heuristic. Guessing sounds like a bad idea. Eclipse acts like an environment variable, so that's fine.

[2015-06-04 21:11] DavyLandman commented on #822
(for completeness, we now guess for almost every file you read)

[2015-06-04 21:48] anyahelene commented on #822
On 06/04/2015 11:10 PM, Tijs van der Storm wrote:

Should be a way to say that you want the default encoding though – i.e., the
Eclipse setting, if applicable, and the system default otherwise.

-anya

[2015-06-04 22:03] DavyLandman commented on #822
well, there is a difference between `writeFile(_,_)` and `writeFile(_,_, encoding=utf8())`?

[2015-06-05 07:05] jurgenvinju commented on #822
Sounds like we need a lightweight programmable strategy..

Something like

Data Charset = editorSetting(Charset otherwise);

Then our own default setting in the library would be editorSetting(utf8()) and everybody could override it if they want while still preferring editor settings.

[2015-06-05 07:07] DavyLandman commented on #822
I like this idea.

How would this work for writeFile? It would mean an extension to the URI resolvers?

[2015-06-05 07:50] jurgenvinju opened #823 "implement correct decoding for uri literals with splicing"
This test is now set to @ignore. std:///lang/rascal/tests/basic/Locations.rsc:85,56: MalFormedURI("tmp:/// .rsc")

We can solve it by:

* changing the syntax definition of URI literals to have different rules for the different parts of URI with different encodings
* decode the not-spliced parts
* store the unencoded URI parts using the URIUtils utility classes

After this printing the URI already

[2015-06-05 18:23] DavyLandman commented on #822
commit 03a7d033fb added `getCharset` for `ISourceLocationOutput` this would enable the `editorSetting(Charset otherwise)` constructor.

Perhaps we also need to add `jvmDefault()` and a few osx/windows defaults. And a catch all `byName(str charsetName)`?

[2015-06-06 20:23] matthisk opened #824 "Unable to append function to list of functions"
I am unable to append a function to a list of functions, the interpreter gives me the following error:

```addition not supported on list[bool ()] and bool (...)```

For this code:

[code]

[2015-06-06 20:30] DavyLandman commented on #824
If you are stuck, here is a workaround:

[code]

[2015-06-06 20:45] tvdstorm commented on #824
The overloading of `+` to add elements to a list will be removed, hopefully.  + will then be _either_ element add _or_ concat cq. union.

[2015-06-06 20:49] DavyLandman commented on #824
I agree, the behavior is confusing.

[2015-06-08 11:27] DavyLandman commented on #22
closing because it's outdated, JDT doesn't exist in this form anymore.

[2015-06-08 11:27] #22 closed

[2015-06-08 11:29] DavyLandman commented on #29
This is was re-reported as issue #216 and finally fixed in a0b77a564bc.

[2015-06-08 11:29] #29 closed

[2015-06-08 11:33] DavyLandman commented on #46
I think this one is done?

[2015-06-08 11:35] DavyLandman commented on #73
closed due to lack of repo-case.

[2015-06-08 11:35] #73 closed

[2015-06-08 11:37] DavyLandman commented on #77
fixed long time ago.

[2015-06-08 11:37] #77 closed

[2015-06-08 11:38] DavyLandman commented on #79
this one has been fixed.

[2015-06-08 11:38] #79 closed

[2015-06-08 11:39] DavyLandman commented on #88
that issue is closed, so is this one now finished?

[2015-06-08 11:40] DavyLandman commented on #93
JDT is replaced by M3, so this issue is outdated.

[2015-06-08 11:40] #93 closed

[2015-06-08 11:43] DavyLandman commented on #103
this has been fixed.

[2015-06-08 11:43] #103 closed

[2015-06-08 12:26] mahills commented on #46
can we include them in patterns at this point?

[2015-06-08 13:32] DavyLandman commented on #46
yep, if I'm right, either you don't "supply" them, and their value is ignored during matching, or you can pattern match on them in the same syntax as setting them.

[2015-06-08 13:48] RB-Develop opened #825 "Massive performance hit when using resolveM3(..)"
While analysing a Java project I had to know if a method location was part of the project or not. To do this I (ab)used `resolveM3(..)` in a `try-catch` block. If it threw an error I would know that the location was not part of the project and thus not in scope. I did this reasonably often, but it caused massive performance issues. I removed usage of the function and was able to reduce runtime fro

[2015-06-08 14:25] mahills commented on #46
I probably even added support for them in the checker already, I just couldn't remember the status. If that is done, then I'm guessing we can close this.

[2015-06-08 14:35] MagielBruntink opened #826 "Starting console throws error (unstable june 7th, fresh Eclipse Luna, Java 8 JDK)"
![image](https://cloud.githubusercontent.com/assets/3635696/8037077/10ac1df8-0dfc-11e5-8128-bedaa8d13419.png)

Eclipse for RCP and RAP Developers  4.4.2.20150219-0708 epp.package.rcp null
The Rascal MetaProgramming Language 0.7.3.201506072147  rascal-feature.feature.group    CWI
IMP runtime 0.3.0.201505200846  imp.runtime.feature.feature.group   null

[2015-06-08 14:37] anyahelene commented on #46
On 08/06/15 16:25, Mark Hills wrote:

And what's the equivalence / hashing behaviour? Will
annotations-as-keyword-parameters have to be stripped manually before using
as a key in a map, for example?

-anya

[2015-06-08 14:49] MagielBruntink commented on #826
For some reason, this error is being caused by having a checkout of the rascal project itself open in Eclipse. No idea how that could influence the actually running rascal plugin, but it seems it does.

[2015-06-08 14:54] mahills commented on #46
If I recall, they are used in equivalence computations, with the default values used if none were explicitly given. This is something that @jurgenvinju can probably answer better than I can.

[2015-06-08 15:09] anyahelene commented on #46
On 08/06/15 16:54, Mark Hills wrote:

Yes – this was my impression too.

-anya

[2015-06-08 15:26] DavyLandman commented on #826
is the checkout updated?

I think the binding of the java classes prefer the local project version over the plugin version. So if your `Prelude.java` doesn't have a `appendToFile` that could be the reason.

[2015-06-08 15:26] RB-Develop commented on #826
I have had this problem as well before. Using a separate workspace for Rascal without the plug-in loaded fixed the problem. Experienced it in Eclipse Luna and Kepler, regardless of Java runtime. All under Windows 8.1 by the way. Always got the error when trying to launch a new console.

[2015-06-08 15:28] DavyLandman commented on #826
in general it is a good idea to have your local checkout ahead or at the same revision as the plugin.

[2015-06-08 17:11] jurgenvinju commented on #826
A yes I've been there too. It's a bug where the classpath as recovered from osgi does not align with the Rascal module path. This can lead to the observed mismatch.

[2015-06-08 17:35] DavyLandman commented on #825
Thanks for reporting!

I think you can use the containment relation on m3 for your purpose?

There were more problems with resolveM3, and it is primarily meant as an internal thing to map logical to physical locations. That's also one of the reasons we removed it. (It also leaked memory)

For most use cases you can use logical and physical locations without worry ;)

[2015-06-08 18:47] MagielBruntink commented on #826
Yep, that fixed it. Thanks guys.

[2015-06-08 18:48] jurgenvinju commented on #826
I'm leaving it open. Next time we add a function to Prelude.rsc this problem will be back. Thanks for reporting!

[2015-06-08 20:28] PaulKlint commented on #821
I agree with @tvdstorm: the user can control all aspects of the location let's not introduce too much magic here. What we should also document is that the position information can be added in function call style. The other day I wrote this: `getSearchPathLocation(l.path)(l.offset, l.length, l.begin,l.end)` and that is very handy -- and explicit: get another location but preserve the original posit

[2015-06-08 21:05] DavyLandman commented on #821
You could also have written:

[code]

And I see the point in not adding magic.

[2015-06-08 21:06] DavyLandman commented on #821
A wait, it's the other way around in your example.

[2015-06-10 07:03] jurgenvinju opened #827 "implement correct decoding for uri literals with splicing"
This test is now set to @ignore. std:///lang/rascal/tests/basic/Locations.rsc:85,56: MalFormedURI("tmp:/// .rsc")

We can solve it by:

* changing the syntax definition of URI literals to have different rules for the different parts of URI with different encodings
* decode the not-spliced parts
* store the unencoded URI parts using the URIUtils utility classes

After this printing the URI already

[2015-06-10 07:26] jurgenvinju opened #828 "Ideas for merging Message and Exception"
Shortcomings of the current situation for Message and Exception:

* concepts are similar yet duplicated
* message types can not easily be matched on (info, warning and error but not the specifics)
* its costly to add another exception kind so people reuse existing generic exceptions

Proposal to merge would heavily make use of automatic keyword parameters, something like this:

[code]

Benefits:

[2015-06-10 08:17] DavyLandman commented on #827
what's the difference to #823 ?

[2015-06-12 10:10] RB-Develop commented on #825
I was able to change the way I encoded keys in a map differently so I didn't have to use resolveM3 as much. Unfortunately I still need to use it at places where I only have the logical location, but require the offset parameter of the location, for which I need to resolve it. This doesn't happen as often though.

By the way, if it is removed and I update to 0.73 in the future, how can I resolve a

[2015-06-12 12:25] DavyLandman commented on #825
I think you can use the `@declarations` annotation.

Out of curiosity, why do you need the offset?

[2015-06-12 13:18] RB-Develop commented on #825
Part of my thesis project is the creation of System Dependence Graphs. Currently I only use `resolveM3` for global/class fields as I have to process them in a certain way for data analysis. I only work from inside method scopes, so the only annotation I can get the source location of the field from is the `declaration` annotation. For differentiation purposes I require the offset. As I only have a

[2015-06-15 12:22] DavyLandman opened #829 "New file dialog crashes for installed plugin"
new project, no files in the src folder, new Rascal module with name "A" (or any other) finishes but in the error log we get the following exception:

[code]

The file isn't created, but an editor window is opened, which also has an exception:

[code]

[2015-06-15 12:27] DavyLandman commented on #829
If I add the `src/` folder in the project path in the file system, (which isn't here even though eclipse says there is a src folder). It kinda works, the file is created in the file system, but the opened editor now reports this error: `Resource '/java-rnn/src/CollectTrees.rsc' does not exist.`. The file is visible in the package explorer.

Clicking the file in the package explorer doesn't fix it.

[2015-06-15 12:45] DavyLandman commented on #829
restarting eclipse "solved" it.

New files can also be added now.

also in subdirectories.

[2015-06-16 00:48] mahills opened #830 "Assigning blame for keyword parameter errors during type checking"
We have the following fragment of code in one of the test modules:

[code]

Due to some recent changes in how keyword parameters work, this isn't type checking. I can make changes to support this, but there are some questions of how we assign "blame" for type errors in the file. For instance, say we have this instead:

[code]

Is this correct, or not? Now constructor `l` defines a parameter `d` of

[2015-06-16 00:55] mahills commented on #783
I can type check the entire module, so I'm not sure what is hanging those specific tests.

[2015-06-16 01:01] #781 closed

[2015-06-16 01:03] mahills commented on #830
Note, this is related to #760

[2015-06-16 01:05] mahills commented on #737
Ping!

[2015-06-16 05:21] PaulKlint commented on #737
After discussions with @mahills (with and without beer) my understanding is this:
* `void` is causing pain everywhere but changing the type system is unrealistic.
* The above function definitions truly overlap, pairwise, so there is a real ambiguity here. But this ambiguity only manifests itself when an empty map is used as argument in a call to `toRel`.
* Conclusion: the current implementation by

[2015-06-16 07:30] jurgenvinju commented on #830
Hi @mahills ! Indeed, open keyword parameters breaks modular type checking in a way. They do in the same way as open data sorts do, so I am thinking the same kind of error reporting we have for an example like this should do:

[code]

One can always add a new constructor with a conflicting parameter and get this kind of bug. Or something like this:

[code]

The blame can not be assigned to one sid

[2015-06-16 11:13] DavyLandman opened #831 "Rewriting layout doesn't have an effect"
Take this grammar:

[code]

Rewriting in the lexical:
[code]
works.

But when the lexical is in the layout, it's not rewritten..

[code]

The visit does go into the layout section:
[code]

So I think something goes wrong with the rewrite not updating the tree correctly?

[2015-06-16 11:29] DavyLandman commented on #831
okay, more details:

[code]

The

[code]

doesn't go into the layout it seems?

[2015-06-16 12:21] DavyLandman commented on #831
hmm, more strangeness, visit does go inside layout, but the deep match doesn't?

[code]

[2015-06-16 12:34] DavyLandman opened #832 "Deep match doesn't work on parse trees `start[X]` at top."
[code]

Normal deepmatch works:

[code]

Deep match on a `start[Aas]` tree doesn't.

[code]

Removing the `start` part fixes it again.

[code]

I though we (@jurgenvinju) already solved this off-by-one problem?

[2015-06-16 13:42] DavyLandman commented on #832
Visiting does work, so there we do start after the layout?

[code]

[2015-06-16 14:07] jurgenvinju commented on #831
deep match skips layout if the pattern has a non-terminal type; at least in the interpreter setting. The compiled code computes which parts of the tree to go in or not based on the pattern type, right @PaulKlint ? So this is an interpreter-only issue.

[2015-06-16 14:15] #832 closed

[2015-06-16 14:19] jurgenvinju opened #833 "classcastexception in visit"
[code]

[2015-06-16 14:27] #833 closed

[2015-06-16 14:54] mahills commented on #830
For annotations, the "later" annotation, in terms of type checking order, loses. I guess we do have the same potential problem there, although here it's more likely I think since there are more potentials for conflicts (repeated keyword parameters with different types, or cases where a keyword parameter is added that conflicts with a normal parameter).

[2015-06-16 14:55] jurgenvinju commented on #830
Ok, and what is the rule for normal parameter conflicts?

[2015-06-16 14:57] mahills commented on #830
These are also linear, the last one "loses". This still has the problem that someone can alter an import and break the current module, and it doesn't really handle that well, but it makes sense given a specific module since the conflicting parameter isn't really changing the earlier constructor.

[2015-06-16 14:58] jurgenvinju commented on #830
Agreed. Would it be ok to have the same semantics for keyword parameter conflicts?

[2015-06-16 15:01] mahills commented on #830
I think so. We know there's an error, so the question is really about where we want to mark the error. If we are happy just marking it at the point we detect it, that's easier to implement. If we want to be able to go back and mark it on earlier constructors/data declarations that contribute, we need to keep track of more book-keeping info, and need to decide if this works the same way if the erro

[2015-06-17 19:23] #829 closed

[2015-06-18 12:56] DavyLandman opened #834 "Compiler fails with list of trees as result if it is a start nonterminal."
I was trying out some code to see if I could get more speed. But it crashes on trees with more than one element?

[code]

output:

[code]

So if the tree is of type `list[start[X]]` and so is the function signature, then it fails in the case of more than 1 tree in the list.

[2015-06-18 17:17] jurgenvinju commented on #834
Good test case!

[2015-06-19 09:15] DavyLandman opened #835 "Deep matching a lexical in a tree doesn't work (anymore?)"
[code]

[code]

perhaps related to fixes for #832 ?

[2015-06-19 09:16] DavyLandman opened #836 "Deep matching a syntax element in a tree crashes with a Java exception"
While investigating issue #835 I came across this one that threw a Java exception:

[code]

[code]

[2015-06-19 09:19] DavyLandman commented on #836
this is a recent breakage, on the stable release it still works.

[2015-06-19 09:24] DavyLandman commented on #835
(in the latest stable release this still worked)

[2015-06-19 09:28] jurgenvinju commented on #836
It happens only if you have a character class in a `syntax` rule (as opposed to `lexical`). Easy fix coming up.

[2015-06-19 09:54] #835 closed

[2015-06-19 09:54] #836 closed

[2015-06-19 09:59] DavyLandman commented on #183
updated it for the compiler:

[code]

[2015-06-19 10:07] DavyLandman commented on #183
Performance interpreter:

[code]

compiler:

[code]

At the moment, the compiler is slower than the interpreter, and the same performance relation exists.

[2015-06-19 13:03] PaulKlint commented on #183
Nice tests. This is also visible in the micro benchmarks we use in the compiler. Probable cause: at the moment the compiler generates a separate muRascal function for each visit expression. It is on my to-do list to change this into a call to a library function written in java.

[2015-06-19 13:59] DavyLandman commented on #183
Just for the future, I also wrote a small version to test replacement.

[code]

here too the the compiler was slower than the interpreter.

[2015-06-28 02:50] gitshub opened #837 "tiny documentation improvement to Rascal start page"
In the section "Follow these steps to install the plugin into Eclipse", I suggest you change step 4 to read:

Type: http://update.rascal-mpl.org/stable/ in the "Work with" edit box, and then press enter.

[2015-06-28 18:58] PaulKlint commented on #837
Thanks, I have added this.

[2015-06-28 18:58] #837 closed

[2015-06-28 19:31] RB-Develop opened #838 "M3 model conflict in readFileLines."
In Rascal version 0.7.3 you have removed the function `unregisterProject`, resulting in some problems when trying to read a file if two versions of the same software have an M3 model created.  Lets say I have a project called Sum-v0.1 with the functions `Calling()`, `Add(int, int)`, and `Increment(int)` and a project Sum-v0.2 with a function `Calling()`. Now, if I create an M3 for both of them and

[2015-06-29 09:39] RB-Develop opened #839 "Cannot create a directory twice."
When I use `mkDirectory` to create a directory 'foo' at C:/folders/foo, for example, and delete it afterwards, I am unable to recreate it with Rascal. Restarting Eclipse, starting it with administrator rights, or doing a ritual has no effect. I've solved the issue by including a timestamp in the folder name, but I don't believe that this kind of behaviour of `mkDirectory` is intentional.

Edit: I

[2015-06-30 08:15] DavyLandman commented on #839
is this with the `file:///` scheme or with the `project://` scheme?

[2015-06-30 09:16] RB-Develop commented on #839
With the project scheme. Haven't tried it with the file scheme.

[2015-06-30 19:57] PaulKlint opened #840 "Type checker shoud unescape field names in projections"
Here is an example from `lang/rascal/tests/basic/Tuples.rsc` that I recently added:
[code]
gives: `"Field \\n does not exist"`. Using `L<n>` instead works fine.

Conclusion: the type checker shoud unescape field names in projections.

Note: `L.\n` works fine.

[2015-07-04 14:19] #840 closed

[2015-07-09 14:08] Anastassija opened #841 "Ambiguous Rascal code"
The following Rascal code is ambiguous:

[code]

I believe the reason is that `do` is not in the list of Rascal keywords.

[2015-07-16 18:22] wnederhof opened #842 "Empty lists using generic type "type[...]" not working"
[code]
Results in:
[code]
Whereas in a similar case (with `list` instead of `type`):
[code]
This results in:
[code]
(i.e. this declaration *does* allow for empty list arguments.)

[2015-07-22 21:26] PaulKlint commented on #281
This has been done already some time ago.

[2015-07-22 21:26] #281 closed

[2015-07-22 21:28] PaulKlint commented on #666
@mahills Can this one be closed?

[2015-07-23 02:58] mahills commented on #666
I'll check, I believe so. This is still an issue in general, but isn't really a bug per-se, we would just like to ensure we have high quality error messages.

[2015-07-27 08:58] jurgenvinju commented on #841
good catch

[2015-07-27 09:01] jurgenvinju commented on #842
Thanks for the clear report. Looking into it.

[2015-07-27 09:14] #842 closed

[2015-07-30 08:04] jurgenvinju opened #843 "type inference for pattern matching in keyword parameters broken"
[code]

should be `int: 3`

See also http://stackoverflow.com/questions/31713657/keywords-in-rascal/31718054#31718054

[2015-07-30 09:11] jurgenvinju commented on #843
Actually, type inference for all parameters of constructors is broken.

[2015-07-30 09:19] jurgenvinju opened #844 "bug in isSubtypeOfNonterminalType"
forget to check for equal types.

[2015-07-30 09:20] #844 closed

[2015-07-30 15:23] HubertGaravel opened #845 "Insufficient diagnostics for syntax errors"
Hi,

The two Rascal programs below do not compile but the error messages given are insufficient
to detect the reason of the errors. In particular, the number of the lines on which the
errors occur are not given.

**\* For example 1 (hanoi.rsc)
Version: 0.7.2.201506052258
Static Error: Could not import module hanoi: Parse error
[Advice](http://tutor.rascal-mpl.org/Errors/Static/ModuleImport/Module

[2015-07-30 16:11] jurgenvinju commented on #845
answer 0: yes, agreed. We need to quickly fix the error message!

a) use the Eclipse editor which will put the squiqly at the first error message
b) the "solve" identifier is reserved for the solve statement, you might use another name or escape this one as in `\solve`

[2015-07-30 16:12] jurgenvinju commented on #845
BTW this code looks like its from a term rewriting competition :-) how refreshing.

[2015-07-30 16:13] jurgenvinju commented on #845
The b answer for sieve is that the "filter" identifier is a keyword to in Rascal.

[2015-07-30 16:14] jurgenvinju commented on #845
PS you could write `Bool lt (Z(), S (Nat x)) = True();` instead of `Bool lt (Z(), S (Nat x)) { return True(); }`

[2015-07-30 16:44] jurgenvinju commented on #843
fix had some implications I need to reconsider

[2015-07-30 16:46] #843 closed

[2015-07-31 09:13] HubertGaravel commented on #845
Hi Jurgen,
Thanks for the quick answers. This is some feedback.

- The examples are indeed taken from the REC 2010 competition, with significant updates to take
  into account recent evolutions. For instance, ASF+SDF is replaced with Rascal.

- The translation from the REC benchmarks is no longer done manually, but automatically using
  simple scripts (REC -> Rascal = 230 lines of Bourne shell + A

[2015-07-31 11:44] PaulKlint commented on #845
Hi Hubert, interesting project. We are definitely interested in using your generated Rascal code for benchmarking the compiler!

[2015-08-05 10:00] DavyLandman opened #846 "Concrete patterns with newlines have an off by one error for keyword highlighting at the start of a newline"
[code]

The only textual difference is the space in front of the else.

Here is the visual difference:
![screen shot 2015-08-05 at 11 59 46](https://cloud.githubusercontent.com/assets/179603/9083259/86707756-3b69-11e5-8c95-1cc65fe98bad.png)

[2015-08-06 08:05] jurgenvinju commented on #846
Could also be an ambiguity. Use the list ambiguities feature in the ide top find out? If there is ambiguity then highlighting may change depending on "else" being a keyword or not.

[2015-08-06 08:46] DavyLandman commented on #846
nope, not an ambiguity.

(nothing in the ambiguity list, nor after importing the module in the console)

[2015-08-06 14:33] #803 closed

[2015-08-11 09:27] RB-Develop opened #847 "Undescriptive error during graph rendering"
If I attempt to render a graph with a set of boxes that contains two boxes with the same identifier, I receive a very undescriptive error stacktrace. The said stacktrace is pasted below.

`java.lang.NullPointerException
	at org.eclipse.imp.pdb.facts.io.StandardTextWriter$Writer.checkIndent(StandardTextWriter.java:426)
	at org.eclipse.imp.pdb.facts.io.StandardTextWriter$Writer.visitConstructor(Stan

[2015-08-11 09:51] DavyLandman commented on #847
could you include the version?

(and perhaps the graph you are trying to visualize?)

The problems is that the error is hidden because the exception throwing mechanism throws an exception :(

[2015-08-11 10:17] RB-Develop commented on #847
I'm using version 0.7.3 in 64-bit Eclipse Kepler on 64-bit Windows 10. The actual graphs that throw this error with stacktrace are massive. I can extract it if you wish, but the code below reproduces the NullPointer as well... without a stacktrace for some reason though.

[code]

[2015-08-11 10:55] DavyLandman commented on #847
This is fixed in the latest unstable release a while back.

now it shows:

[code]

I remember either me or @jurgenvinju fixing something in the robustness of our Throw class.

So if you could try your code on the unstable release and report if it is indeed fixed there?

[2015-08-11 11:00] RB-Develop commented on #847
Indeed, it seems to be fixed when installing the latest version of the unstable repository. Now I'm curious though. Do you remember what it was?

[2015-08-11 11:06] DavyLandman commented on #847
You're welcome to browse the git commit ;-)

But I'm glad it's at least solved :)

[2015-08-11 11:06] #847 closed

[2015-08-14 03:16] gitshub opened #848 "Want "Menu" example--Pico demo fails"
In looking for a working example of "Menu" for the DSL I am writing, I tried "Pico".  But the following fails:

rascal>import demo::lang::Pico::Plugin;
|plugin://rascal_eclipse/src/org/rascalmpl/eclipse/library/demo/lang/Pico/Plugin.rsc|(1791,48,<71,6>,<71,54>): The called signature: action(str, void (...)),
does not match any of the declared (overloaded) signature patterns:
	Menu = action(str,voi

[2015-08-16 18:40] DavyLandman opened #849 "A REPL for every DSL"
I'm rewriting the REPL implementation of Rascal's Console & Shell, already had some hopefull experiments with jline2 & TM Terminal plugin last friday with @jurgenvinju.

But this also opens the opportunity to improve our language specific REPLs, I know at least @tvdstorm @joukestoel and @PaulKlint have expressed interest in this. So before I program it out, I wanted to get your opinion (and other

[2015-08-16 20:02] PaulKlint commented on #849
This sounds like a very good idea. I have (at least) one concern from the perspective of compiler integration with this REPL. I do not yet have a clear idea how to approach this. My concern is how the _session state_ can best be represented. It consists of all declarations and expressions entered via the REPL. These should be preserved and reused whenever new input is executed. A simple, but proba

[2015-08-19 20:51] wnederhof opened #850 "Pattern Matching on Duplicates"
Given the following definition:

[code]

Here,

[code]

Gives the following output:

[code]

A similar issue also applies to concrete syntaxes, see: https://stackoverflow.com/questions/32060197/concrete-syntax-matching-in-rascal

I recall that this was not the case in an earlier version of Rascal, where `someFunction(two(number(5), number(5)))` would work, but in which `someFunction(two(number(5),

[2015-08-20 17:35] jurgenvinju opened #851 "jenkins failed testSplit"
[code]

[2015-08-26 09:10] BertLisser opened #852 "Illegal type error during pattern matching"
I expect that the following code runs correctly. But is does not.
[code]
Output:
[code]
However the following code works correct.
[code]
Output
[code]

[2015-08-26 20:33] PaulKlint commented on #852
Note that the error is in the data declaration!

I suspect this is caused by a bug in the interpreter in handling the keyword parameter in the first example.

Example runs fine when compiled.

[2015-09-02 09:58] joukestoel opened #853 "Move current visualisation library into rascal-eclipse"
By moving the visualisation library from rascal ```org.rascalmpl.library.vis``` to rascal-eclipse ```org.rascalmpl.eclipse.library.vis``` we remove the need to have dependencies on Eclipse SWT in Rascal.
Since the current visualisation library only works in Eclipse at the moment this should not be to big a problem

[2015-09-02 10:03] joukestoel opened #854 "Change the dependency on JDT to a 'static' dependency instead of an OSGi bundle dependency"
Currently Rascal uses JDT via an OSGi required bundle described in the MANIFEST.MF. This should be changed into pom dependencies so that it is possible to build rascal without the need of p2 OSGi repositories.

Possible candidates that can be included in the pom are:

[code]

These can be found in the following repositories

[code]

[2015-09-02 10:11] joukestoel opened #855 "Replace the OSGi dependency on com.ibm.icu with a Maven dependency"
Currently the `com.ibm.icu.util.*`, `com.ibm.icu.text.*` packages are included via OSGi. These classes are used for the current date/time implementation of Rascal.
We should replace the OSGi bundle dependency with a Maven pom dependency.

Probable Maven replacement

[code]

[2015-09-02 10:59] joukestoel opened #856 "Make pdb.values, rascal and ambidexter build 'pom-only'"
Currently the Maven Tycho plugin is used to create correctly working Maven builds.
The Tycho plugin(s) looks at the MANIFEST.MF file and checks which dependencies are needed for a correct build. We want to remove this dependency since we want to move to a situation in which the pom.xml is leading in describing the used dependencies and versions.

It is however needed to generate a MANIFEST.MF file

[2015-09-02 11:04] mahills commented on #855
I would still like to discard these and switch over to the Java8 implementations now that they are basically the Joda libraries. So, depending on when I can get to this, this issue will go away.

[2015-09-02 11:10] joukestoel commented on #855
I fully agree but this would be a (bit) more effort. So to prevent some feature bloat on this milestone I created this issue as a stand in replacement. I also created a [new milestone](https://github.com/cwi-swat/rascal/milestones/Make%20use%20of%20the%20Java%208%20Date/Time%20API%20as%20in%20implementation%20for%20the%20Rascal%20Date/Time%20API) to replace the current date/time implementation all

[2015-09-02 11:51] DavyLandman commented on #854
It's a bit of a pity that they are of 2013...

Some bugs that are solved for m3 require recentish versions of JDT.

[2015-09-02 11:59] joukestoel commented on #854
It might very well be that there are newer version available. So far I just checked what I had to do to get it compiling. We should check the Maven Eclipse repositories -> https://repo.eclipse.org/content/groups/

[2015-09-02 12:03] DavyLandman commented on #854
Here is the latest stuff I think:

https://repo.eclipse.org/content/groups/tycho/org/eclipse/tycho/org.eclipse.jdt.core/

[2015-09-02 13:08] joukestoel opened #857 "Change date/time methods in Prelude to use the new Java 8 Date/Time API"
We should change the implementation of the Date Time functions to the new Java 8 Date/Time API

[2015-09-02 13:59] joukestoel opened #858 "Write some tests covering the current date/time functions in DateTime.rsc"
There seem to be no tests at the moment covering the current implementation of the DateTime.rsc module. We should add some regression tests before changing the implementation to Java 8 Date/Time

[2015-09-02 14:03] joukestoel opened #859 "Change pdb's DateTimeValues to use the Java 8 DateTime classes instead of the Calendar"
At the moment the DateTimeValues class (```org.eclipse.imp.pdb.facts.impl.primitive.DateTimeValues```) uses the Calendar for creation and to get an instant. This should be changed to make use of the new Java 8 Date/Time classes

[2015-09-02 14:37] joukestoel opened #860 "Allow guards on tests to scope the random input values of the test"
It would be nice if we could use guards to scope random test parameters.
For instance we could then write the following test:
[code]
The test runner should recognise when a test was executed successfully because the body of the test passed or if it succeeded because the guard failed. Failed execution attempts because of failure to fulfil the guard should be recorded separately from the general tes

[2015-09-02 20:18] joukestoel opened #861 "Allow the use of keyword parameters in random tests so they can act as custom value generators"
It would be nice if we could use keyword parameters with default values in a test function to act as custom generators. We could then for instance write the following test:
[code]

The supplied custom 'generators' should then them self take care of generating meaningful random values. This would be an easy way to implement custom generators in our tests

P.S. Although at the moment we can syntacti

[2015-09-02 20:31] jurgenvinju commented on #861
What an elegant plan.

[2015-09-02 20:33] PaulKlint commented on #861
Nice idea, it only requires a slight change in the execution of test functions.

[2015-09-03 09:33] jurgenvinju opened #862 "createM3FromFile does not produce new results if the file is edited"

[2015-09-04 14:48] DavyLandman opened #863 "Allow variable argument lists in ADTs"
I was rewriting the html5 data type @tvdstorm started out.

It would be nice to have the variable arguments feature which we have in functions to also work in ADTs.

It's now a parsing error to write it an definition:

[code]

Or perhaps this is something on the call site? that any function/adt with the a list as last parameter can be called in the varargs style?

[2015-09-04 15:15] mahills commented on #863
Why not define a varargs function of the same name that puts the items into a list and returns a term formed with the existing constructor? We can do that now without adding yet another language extension. (Also, on another note, please, children, not childs...)

[2015-09-04 16:37] DavyLandman commented on #863
I tried that, but that wouldn't type check.

My bad about the English, typed the issue too fast... In library it's kids
at the moment.

On Fri, Sep 4, 2015, 17:16 Mark Hills <notifications@github.com> wrote:

[2015-09-04 17:18] mahills commented on #863
No worries, I should have put a :)

I'll have to see why that doesn't type check, it should work if that function is given as a default.

[2015-09-08 18:36] JJWTimmer commented on #616
I threw the example away, long time ago, so there is no reproduction/example anymore for this issue.

[2015-09-08 18:36] #616 closed

[2015-09-09 12:30] jurgenvinju commented on #415
[code]

and the test:

[code]

this is a reasonable test using a type parameter which randomly is bound to `num` and then accidentally `==` is used to compare `0` and `0.0` leading to an unexpected equality since the elements in the list `0` and `0.0` are not considered equal by the `-` operator.

I am now convinced we need to remove the automatic "coercion" as its implemented by overloading the `

[2015-09-09 18:51] mahills commented on #415
Would it make sense to have something like `==` which requires type equality as well (i.e., no coercions) and `===` which does coercions? (or the opposite)

This way we could provide coercions in the language, but it would be obvious that we want them, and we could use a notion of equality without coercions for things like set membership, so `{ 1 } != { 1.0 }` and `1 notin { 1.0 }`. I'm not normal

[2015-09-09 20:33] PaulKlint opened #864 "What is Rascal's calling convention for main?"
What happens when pushing `Run as ... Rascal Application`?

The interpreter calls `main()`, but I remember that keyword parameters are handled by the interpreter (but how are they set?)

Compiled code calls `main([])`, for reasons that I do not recall but it may be to get some similarity with Java's `main`.

Any opinions which way to go?

[2015-09-09 20:43] PaulKlint commented on #415
Unfortunataley this keep haunting us. Am I right that this only the case for numeric conversions?
In that case there are two options:
- Introduce an extra equality operator as @mahills suggests (and I don't like new operators either).
- Use explicit conversion functions `toInt`, `toReal`, `toNum`. However, I am afraid that no-one will then write a single line of arithmetic code anymore and the who

[2015-09-09 21:10] mahills commented on #415
I do think this is only an issue with numeric conversions. Beyond this, it seems to really only be an issue with equality. I think it's reasonable to have coercion rules for arithmetic operators and then to require functions like `toInt` if we need to force a specific type, my feeling is that all the problems just come from the question of whether `0 == 0.0` (or other variants).

[2015-09-10 07:15] jurgenvinju commented on #415
Yes your right! It's the == that's the issue and not the other operators. I didn't realise. That also provides a handy way of turning and int to a real.. 1.00 * myInt

[2015-09-10 07:16] jurgenvinju commented on #415
Davy posted an interesting talk about Julia on the topic in slack

[2015-09-10 07:17] DavyLandman commented on #864
There are different stories:

- From the rascal-shell: if you have defined a main module in the `RASCAL.MF` it will run the `main()` function or the function defined in the `RASCAL.MF` to run. It will also translate all command line args (`-startAt 20`) to keyword params for that main function (`startAt = 20`). (actually there are even more cases in the rascal-shell)
- Run-as inside eclipse: there

[2015-09-10 07:28] jurgenvinju commented on #415
To summarize the issues:

- In Rascal == should mean structural equality because of the semantics of containers and their optimizations
- This had an effect on the semantics of ordering as well, consider <=. Such that algorithms working with num are basically all broken.
- If different num values can't be equal, then they must be converted. This is expensive for large collections. In time and memo

[2015-09-10 08:59] jurgenvinju commented on #864
In Eclipse the commandline args could be passed in a text box in the run configuration, just like this is done now for Java programs.

[2015-09-10 09:10] PaulKlint commented on #864
@jurgenvinju with "command line args" you mean keyword parameters?

[2015-09-10 09:10] jurgenvinju commented on #415
Actually this idea of disjunct types would not help much in the Rascal context, only for external functions it could be ok. In a Rascal body of a function which such a signature you could not write much useful code. For example any constant int `0` or real `0.0` would break the static type checker unless you'd pass the 0 or 1 element in as a parameter.. ugly. What I want to say is that adding disj

[2015-09-10 19:23] JJWTimmer commented on #862
On Windows, in Eclipse Mars, on master, not reproduceable:
Called `createM3FromFile` both from commandline and a module on an Java interface;
Show m3 result in `util::ValueUI::text()`;
Edit interface (remove method) and save file;
Repeat.
Compare text result in a diff tool. Differences are as expected.

[2015-09-10 19:23] jurgenvinju commented on #862
How about if you use createFromDirectory? or createFromEclipseProject?

[2015-09-11 18:07] JJWTimmer commented on #790
I found this issue when I was trying to reproduce #862. There is something funny about those functions:
[code]

As soon as createM3FromDirectory is executed (with a project loc), createM3FromFile stops working (with a project loc).

But the plot thickens: As soon as you run createM3FromDirectory again with a file loc, createM3FromFile starts working again with a project loc. Looks like the error l

[2015-09-12 17:57] mahills commented on #783
I'm not having problems with this module at this point, so I'll assume this is fixed. Closing.

[2015-09-12 17:57] #783 closed

[2015-09-14 21:24] wnederhof opened #866 "Rascal's parser very slow on big files"
Parsing big files using Rascal's `syntax`-definitions does not work properly as it will be constantly loading (I tried to parse a file of around 4MB). Furthermore, I tried to load a (generated) 240KB Rascal file through an `import`-declaration, which also hung. After loading Rascal in debug mode, I found out that Rascal was still parsing after 45 minutes. I think this may somehow be caused by Rasc

[2015-09-14 21:31] jurgenvinju commented on #866
Hmmm. need more details. It has nothing to do with backtracking (Rascal uses a form of GLL parsing which does not backtrack, but rather predicts all alternatives "in parallel" and shares common derivation paths).

The difference between the console and an import is interesting. Both scenarios use the same parsing technique. It may be as simple as running out of memory in one scenario and not in th

[2015-09-14 21:44] wnederhof commented on #866
One thing I found is that during debug mode, the function `liftRec` in the `ASTBuilder` is recursively called uncountable times by itself. If you like, I can send you the file I was trying to load per e-mail?

[2015-09-15 06:18] jurgenvinju commented on #866
yes please do send it! `liftRec` is a recursive function over concrete syntax patterns, so it's normal to be called a lot in files with a lot of patterns. In any case it's not the parser that's bothering you then, since this is done some time after parsing.

[2015-09-15 06:48] DavyLandman commented on #866
In general, debug mode is slower. So for speed always use release mode (we have some commits in /unstable/ that do improve performance of debug mode)

Next to sending the file, have you tried increasing the memory (`-Xmx` flag)? Java will fight very long before admitting it needs more memory. One of the signs is that your java process is suddenly consuming all your cores. (Rascal is quite single t

[2015-09-15 10:05] wnederhof commented on #866
I set the `-Xmx` flag in `eclipse.ini` to 2G and also in the Run settings for the Eclipse Application (as I run Rascal from source). Usually I do not start Rascal from Debug mode. `top` shows me that Java is showing around 100-105% of my CPU (not sure, but I assume this means it uses only one full core). Memory is around 40%, but is at 30% when idle. My system (Linux Mint 17.2) does not freeze up

[2015-09-15 10:37] tvdstorm commented on #866
What is the grammar?

[2015-09-15 10:52] wnederhof commented on #866
[code]

[2015-09-15 10:59] wnederhof commented on #866
One thing you may notice is that I use WS_ and WS__ and a separate whitespace layout. This is because I built a generator that translates Banana Algebra into Rascal and I have not removed them yet. However, I experienced the same problem with a totally different grammar with no such tokens.

[2015-09-15 11:05] tvdstorm commented on #866
Tip: remove all whitespace stuff, and `extend lang::std::Layout` and `extend lang::std::Comment`.

You should add follow restriction on lexicals:

[code]

Probably it's slow because all your layout is ambiguous.

[2015-09-15 11:05] tvdstorm commented on #866
Oh, and `WS_` is not needed.

[2015-09-15 11:20] wnederhof commented on #866
Thank you for your help. I have to admit that I did not spend too much time on the layout yet.

I removed all WS_, WS__ and layouts, restarted Rascal and set the header of the file (right before the actual syntax definitions) to:
[code]
The only ambiguity I can see still is that (Exp)`a` can either be a Short.var or a Prim.var. Unfortunately, it is still not loading.

[2015-09-15 11:25] DavyLandman commented on #866
[code]

`syntax` means that layout is added between all elements in your production. So this might nog be what you want. There is an undocumented flag to provide custom layout for your production, I think you want that.

[2015-09-16 13:20] jurgenvinju commented on #415
Update: tests were temporarily fixed by replacing uses of `==` with `Type::eq`. `eq` does not do implicit conversions for int, real and rat but otherwise it has the same semantics.

[2015-09-18 12:00] DavyLandman commented on #802
this feature has been implemented in 9d9416d (source locations) and 3b2568f (modules).

There is some work left for encoding the source locations and escaping rascal keywords in the modules.

[2015-09-18 14:34] #802 closed

[2015-09-21 11:37] #864 closed

[2015-09-24 08:08] PaulKlint commented on #864
Now I remember why I had this different calling convention in mind: it was already used in the original Rascal design document (2008-2009)! Here is one of the examples (starting at p28):
[code]

[2015-10-03 19:27] wnederhof opened #867 "get/set not working properly on values."
Hello,

I believe I found a problem with the `org.eclipse.imp.pdb.facts.impl` classes.

The `BottomUpTransformer` allows transformations on Rascal values. When no transformations are set to take place (i.e. when the `BottomUpTransformer` is not extended and the visitor-parameter in its constructor is set to the `IdentityVisitor`), it should therefore produce the exact same result as was provided i

[2015-10-05 18:29] jurgenvinju commented on #867
Looks like a bug in BottomUpTransformer to me!

[2015-10-05 18:33] jurgenvinju commented on #850
It's a type checker issue. The pattern is not statically correct. Should be this to work:

`Exp someFunction(two(number(int n), number(n))) = number(n);`

I'll check if the type checker detects the problem.

[2015-10-05 18:37] mahills commented on #850
Just to add to that, we don't infer the types of names introduced in the patterns given for formal parameters. We do infer the types of names given in other patterns, though, such as when you directly perform a match. This is to ensure we only need to infer types locally, but this is also why you see this difference in behavior.

[2015-10-05 18:39] jurgenvinju commented on #850
right. but even in a local match this would be a static error right (just checking): `f(int i, int i) := f(1,1)`. It should be at least `f(int i, i) := f(1,1)` or `f(i,i) := f(1,1)` to be correct.

[2015-10-05 18:43] mahills commented on #850
Ah, sorry, I misread it -- I was answering the version of the question where no types are given on the formals, but that isn't what's going on here. The checker should actually give an error message here since you are trying to introduce the same name twice in the same pattern, which we don't allow. Either of the variants you give would be correct.

[2015-10-05 18:44] mahills commented on #850
This should work fine inside a function signature then as well, although I haven't tried it -- the introduction of the name should have an explicit type, but both uses of the same name should not.

[2015-10-05 18:47] jurgenvinju commented on #850
allright. Don't worry, I'll check.

[2015-10-05 19:37] jurgenvinju opened #868 "Extend M3 for Java with Java 8 features"
* Mainly AST nodes for new features such as lambda's and default methods
* Possibly a number of smart extensions to M3 for containing default methods in interfaces

[2015-10-05 19:40] jurgenvinju commented on #868
Something for you @JJWTimmer?

[2015-10-05 22:21] wnederhof commented on #867
I am very sorry, I failed to mention that I changed the `visitConstructor` method to:
[code]
In order to test it out myself.

In the original version, the problem occured more than once in the tree. The result is 2562 characters long without the changes, while the pre-transformation value is 2520 characters long. Here are the trees without these changes:

Pre-transformation:
[code]

Post-transform

[2015-10-06 12:36] rbonifacio commented on #484
Still not working for me, even reseting or closing the rascal perspective. I am trying to use Rascal in a machine with the following configuration:

OSX 10.10.4

java version "1.8.0_51"
Java(TM) SE Runtime Environment (build 1.8.0_51-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.51-b03, mixed mode)

Eclipse for RCP and RAP Developers
Version: Luna Service Release 2 (4.4.2)

The Rascal MetaProgr

[2015-10-06 12:51] DavyLandman commented on #484
could you share what you are experiencing? (screenshot/description?)

[2015-10-06 16:52] rbonifacio commented on #484
Sure, I've just tried to create a Rascal module, and then I got:

org.eclipse.core.runtime.AssertionFailedException: assertion failed:
	at org.eclipse.core.runtime.Assert.isTrue(Assert.java:110)
	at org.eclipse.core.runtime.Assert.isTrue(Assert.java:96)
	at org.rascalmpl.eclipse.editor.ParseController.initialize(ParseController.java:119)
	at org.eclipse.imp.editor.UniversalEditor.initializeParseCo

[2015-10-06 18:10] DavyLandman commented on #484
Are you on the stable or unstable rascal release? Have you tried creating a fresh project?

If on stable, try the unstable and see if that fixes it at least?

[2015-10-07 00:38] rbonifacio commented on #484
Hi @DavyLandman , I was playing with the stable version. The unstable version works fine. Thanks!

[2015-10-07 11:40] DavyLandman commented on #484
I'm going to close this issue, since I think the actual bug has been long solved.

General approach to solving strange rascal breakage:

1. assure you are starting with the JDK not the JRE.
1. Try a fresh project
2. Try a fresh workspace
3. Try a fresh Eclipse install
4. Try the unstable update site.
5. Report an issue with your experience.

[2015-10-07 11:40] #484 closed

[2015-10-10 10:49] PaulKlint opened #869 "How can we best read from the Rascal boot directory?"
In order to create a stable an usable bootstrapped compiler we need a stable and accessible location for the compiled version and of all other tools we need. I have already created the following:
- a directory `boot` in the Racal project (at the top level); it will contain essential boot files in a proper directory structure
- a module `lang::rascal::boot::Kernel` that provides the essential inter

[2015-10-10 11:56] DavyLandman commented on #869
I think the `boot` scheme is comparable to the `std` scheme. So that might be a reasonable solution.

[2015-10-10 19:27] jurgenvinju commented on #869
:+1:

[2015-10-11 09:30] DavyLandman commented on #869
I think you'll need to change build.properties to make sure the folder is included in the output. Not sure if that is enough for maven.

[2015-10-11 11:26] PaulKlint commented on #869
Maybe I will ask an expert to implement the `boot` scheme ;-)

Volunteers?

[2015-10-11 11:33] DavyLandman commented on #869
I think a look at: [StandardLibraryURIResolver](https://github.com/cwi-swat/rascal/blob/master/src/org/rascalmpl/uri/StandardLibraryURIResolver.java) would inspire you ;) I expect the path to be `/boot/` :)

Just remember to add the new resolver to [resolvers.config](https://github.com/cwi-swat/rascal/blob/master/src/org/rascalmpl/uri/resolvers.config) file

[2015-10-12 07:18] PaulKlint opened #870 "Is StandardTextWriter broken for some Unicode characters?"
Is it possible that `StandardTextWriter` does not handle `\u0000` correctly or am I -- being rather Unicode ignorant -- overlooking something? Here is an example:
[code]
prints:
[code]

[2015-10-12 07:20] DavyLandman commented on #870
why is it wrong?

it's just not printing it as `\u0000` but as `\a00`?

[2015-10-12 07:35] PaulKlint commented on #870
The context: The `\u0000` marker is hard-coded in generated rules that are automatically added by the parser generator to the Rascal grammar to delimit holes. When I get it back as `\a00` it no longer parses. So the above behavior may be correct from a Unicode perspective but it causes a problem in this context. At least somewhere during the processing an inequality occurs that causes the parse to

[2015-10-12 07:43] DavyLandman commented on #870
But isn't it just an encoding error? In the string itself there is no difference. Could it be that the code in the parser generator should also support `\a` escapes?

[2015-10-12 07:44] DavyLandman commented on #870
It could also be printed as `\U000000`....

[2015-10-12 07:58] PaulKlint commented on #870
The parser generator already adds one extra rule per non-terminal (using `\u0000`). Not so nice if all these alternative encodings have to be supported as well ...

[2015-10-12 08:12] DavyLandman commented on #870
could you give an example? I have a problem understanding how it doesn't parse?

[code]

[2015-10-12 08:30] PaulKlint commented on #870
Is all internal processing inside the parser generator and not so easy to demonstrate on the command line. It boils down to the textual representation of a hole that is computed internally:

Interpreted: `sort("A"):0`
Compiled:               `\u0000sort("A"):0\u0000`

So now I believe it is rather on the text generation side that something goes wrong: these null characters should not be escaped!

[2015-10-12 09:08] DavyLandman commented on #870
ah yes, double escaping is always a scary thing. Shall we close the issue?

Btw, if you have `\0` in the strings, always give a encoding to the ResolverRegistry. Since a `\0` messes up the encoding detection. But that would give way stranger errors than the ones you are seeing now.

[2015-10-12 13:58] stevenKlusener opened #871 "MultipleKey"
The following map gives a 'MultipleKey("A")' exception, whereas it should have been 'MultipleKey("1")'
  map [int, str] m = (1:"A", 2:"B", 3:"C", 1:"D");

This message may put you on the wrong foot, particularly if the domain and range have the same type:
  map [int, int] m = (1:2, 2:3, 4:5, 1:6);
This gives 'MultipleKey(2)'

Cheers, Steven

[2015-10-12 14:25] PaulKlint commented on #871
Good observation!

[2015-10-12 14:34] PaulKlint commented on #871
I have fixed this and will push it asap.

[2015-10-12 20:06] PaulKlint commented on #870
Management summary: the compiler did not properly handle some escapes in string templates. As a result double escaping did occur as in the above example. That has been fixed.

[2015-10-12 20:06] #870 closed

[2015-10-12 22:33] #871 closed

[2015-10-13 07:47] jurgenvinju opened #872 "Undo is broken in Rascal editor"
CMD+Z has no effect. Probably due to changes in impulse?

[2015-10-14 15:44] DavyLandman commented on #849
This feature is almost completed. @jurgenvinju has some magic left to sprinkle over the eclipse start repl side.

[2015-10-14 15:45] DavyLandman commented on #848
I'm sorry we have forgotten to answer, perhaps translate your question into a stack overflow question?

[2015-10-15 12:09] behnaaz opened #873 "Using M3 in the command line version throws: Cannot link method."
The command line 0.7.2.201506052258 version, throws the the errors:

rascal>import lang::java::m3::Core;

|std:///lang/java/m3/Core.rsc|(2129,152,<61,0>,<63,67>): Cannot link method org.rascalmpl.library.lang.java.m3.internal.EclipseJavaCompiler because: org/eclipse/jdt/core/dom/ASTVisitor

?[Advice](http://tutor.rascal-mpl.org/Er...

As suggested by Jurgen the way to solve it would be to include

[2015-10-15 12:18] DavyLandman commented on #873
Thank you for reporting it. We are working on a more stable solution, ever since I previously reported it in #554.

A possible work around is create a rascal-shell.jar from inside eclipse, by importing the rascal&rascal-shell project and exporting a runnable jar.

[2015-10-15 13:58] DavyLandman commented on #554
just an update, issue #854 should solve this problem.

[2015-10-20 04:42] gitshub commented on #848
Thanks, I took your advice just now and posted it there.   On 10/14/15, Davy Landman<notifications@github.com> wrote: I'm sorry we have forgotten to answer, perhaps translate your question into a stack overflow question?—Reply to this email directly or view it on GitHub.

[2015-10-20 07:06] joukestoel commented on #848
It was indeed a bug in the demo::lang::Pico::Plugin module. It seems that the signature of the action function has changed a little bit and the Pico Plugin module was not changed. This issue should be fixed in newest unstable version of Rascal.

[2015-10-20 07:06] #848 closed

[2015-10-20 07:17] DavyLandman commented on #848
Ah, the stackoverflow question was a wrong suggestions on my part. Thanks for checking it out Jouke!

[2015-10-20 12:33] msteindorfer opened #874 "Tutor not working under rascal-eclipse 0.8.0"
This happens both in L1 and L2. Error message: *Could not start tutor server*

[code]

[2015-10-20 19:48] #874 closed

[2015-10-21 10:18] jurgenvinju opened #875 "interesting isDefined usage in CourseManager"
[code]

[2015-10-21 10:25] #875 closed

[2015-10-22 06:18] jurgenvinju opened #876 "exception for popup menu in rascal editor"
Call up pop-up menu in `lang::java::m3::Core` from the library and:

[code]

[2015-10-22 07:17] #876 closed

[2015-10-26 17:07] diepvriezer opened #877 "Thrown exceptions don't display escaped message"
It's pretty minor and perhaps by design, but throwing exceptions with escape characters result in the printing of the non-formatted string.

    rascal>throw "This doesn\'t escape!";
    |prompt:///|(6,23,<1,6>,<1,29>): "This doesn\'t escape!"
        at $root$(|main://$root$|)

Accounting for tabs and newlines might be a bad idea though, but you can't escape (pun?) the fact that English has a lot

[2015-10-26 18:45] jurgenvinju commented on #877
I agree we could format the string prettier, but an exception is just a value you are throwing, and just throwing strings is generally not advisable, so I'd rather not make that prettier :-). I usually throw a `Message` if I don't have time to make a specific data-type: `throw error("Hello this is wrong", srcLoc);`, and then the code which catches it can pretty print the error like that:

[code]

[2015-10-27 12:40] stil4m opened #878 "ArgumentsMismatch error page is missing in the documentation"
The ArgumentsMismatch error page is missing. The browser returns 'Object not found!'.

The provided URL from the command line interface is:
http://tutor.rascal-mpl.org/Errors/Static/ArgumentsMismatch/ArgumentsMismatch.html

[2015-10-27 13:01] jurgenvinju commented on #878
thanks!

[2015-10-27 13:07] diepvriezer commented on #877
That is a much nicer solution indeed :) Thanks!

[2015-10-27 13:07] #877 closed

[2015-10-27 13:08] jurgenvinju commented on #877
thanks!

[2015-10-27 15:47] pacbeckh opened #879 "Documentation of testdata generators"
The Rascal Tutor states the following

(http://tutor.rascal-mpl.org/Rascal/Expressions/Values/Map/Comprehension/Comprehension.html#/Rascal/Declarations/Function/Function.html)

however the following works:

test bool foo(int a) = a < 5;

[code]

What other generators are available? And can they be documented?

[2015-10-27 15:59] jurgenvinju commented on #879
Thanks for reporting the missing documentation! You can basically use any type of argument to a test function and it will randomly generated input. This includes abstract data-types and strings. The notable exception at the moment being syntax non-terminals for which we have a TODO.

[2015-10-29 11:44] jurgenvinju opened #880 "Test of create simple date sometimes fails"
[code]

[2015-10-29 15:19] joukestoel commented on #880
The parameter used was very confusing because it was not used in the test method it self. It was only there to force the framework to perform random tests. I simplified the test as suggested earlier by @DavyLandman

[2015-10-29 15:19] #880 closed

[2015-11-02 21:39] diepvriezer opened #884 "Odd error with labeled util::Resources visits"
I'm receiving some weird (interpreter?) errors when using the Resource data type, though it could be that I'm new to the language and using labelled patterns completely wrong. Take the following code:

[code]

This code gives the following error when calling thisBreaks() in console: *|prompt:///|(0,12,<1,0>,<1,12>): The called signature: thisBreaks(), does not match the declared signature:  void t

[2015-11-02 23:29] diepvriezer commented on #884
I see now labelled case doesn't need the '/'; that's for pattern matching.. So I guess the real question is why thisDoesnt() doesn't break..

[2015-11-03 09:16] pacbeckh opened #885 "Bug in list pattern matching"
The following :
`[<[],false,_>,<[3],false,_>] := [<[],false,1>,<[3],false,3>]`
or
`[<[],1,_>,<[1],1,_>] := [<[],1,1>,<[1],1,1>]`
evaluates to false.

The problem occurred in version 0.8.0.201510231502 in Eclipse Mars.

[2015-11-03 10:31] PaulKlint commented on #885
Indeed weird behavior. The following also gives `false`:
[code]
but these give `true`:
[code]

[2015-11-03 13:25] #878 closed

[2015-11-03 13:32] pacbeckh commented on #885
I found another scenario that hangs the terminal instead of evaluating to the wrong value.

The rascall process stalls when the following is executed in the terminal:

`[<[<19,0,_*>],false,_>] := [<[<19,0,1>], true, 1>]`

If `true` is changed to `false` it will return.

[2015-11-03 13:49] DavyLandman commented on #885
could it be a variant of #794 ?

[2015-11-03 13:50] jurgenvinju commented on #885
possibly. I'm thinking a static type vs. dynamic type coding bug.

[2015-11-03 13:52] jurgenvinju commented on #885
sets too!

[code]

[2015-11-03 13:56] jurgenvinju commented on #885
smaller:

[code]

[2015-11-03 13:56] DavyLandman commented on #885
The #794 ref was for the stalling version.

[2015-11-03 13:59] jurgenvinju commented on #885
[code]

[2015-11-03 14:06] jurgenvinju commented on #885
`tuple[list[void],value,value]` is not comparable to `tuple[list[int],bool,int]` according to the implementation which makes the match fail.

[2015-11-03 14:11] grammarware commented on #885
[code]

[2015-11-03 14:12] grammarware commented on #885
`tuple[list[void],value]` is neither a subtype nor a supertype of `tuple[list[int],int]`

[2015-11-03 14:21] #885 closed

[2015-11-03 14:23] jurgenvinju opened #886 "interpreter does not terminate on tuple pattern with * in it"
[code]

[2015-11-03 14:45] PaulKlint commented on #886
FYI: the type checker rejects this: `Type of pattern could not be computed`

[2015-11-03 14:50] PaulKlint commented on #885
I have tried several of these examples using the compiler and that gives the expected outcomes.

[2015-11-03 15:25] jurgenvinju commented on #886
great!

[2015-11-03 15:53] jurgenvinju commented on #886
Thanks to @pacbeckh for reporting

[2015-11-03 15:53] #886 closed

[2015-11-03 18:24] jurgenvinju commented on #885
a test was added too

[2015-11-06 16:11] jurgenvinju opened #887 "bubble sort in tutor indexoutofbounds"
http://tutor.rascal-mpl.org/Recipes/Basic/Bubble/Bubble.html#comment-2331325643

[2015-11-07 23:22] bgrevelt opened #888 "replaceAll: empty string matches any characters"
I think the following is a bug. It is at least not what I expected to happen.

rascal>replaceAll("Some test string", "", "");
str: ""
rascal>replaceAll("Some test string", "", "a");
str: "aaaaaaaaaaaaaaaa"

[2015-11-08 00:23] PaulKlint commented on #888
Interesting corner case. Need to reflect on whether we want this or not. Thanks for reporting.

[2015-11-08 07:52] DavyLandman commented on #888
See discussion in #644

[2015-11-08 09:01] PaulKlint commented on #888
@DavyLandman you are right, thanks for recalling this. We should really try to put an end to this long running discussion. I will digest the previous arguments and come up with a proposal.

[2015-11-09 10:23] jurgenvinju opened #889 "Remove asType `[type] Exp` in favor of function call: `#Sort ( Exp, Kwparams)`"
A parser is a function from `str` to `Tree` anyway and we might as well use the function call syntax for this instead of having an entire operator dedicated to this. If we look at a reified type as a parser function, we might start writing this:

* `#Statement ( "if (true) println(\"hello\");", origin=myLoc)`

It's nice that functions can have keyword parameters, i.e. to provide the `origin` of th

[2015-11-09 10:36] DavyLandman commented on #884
you are using a [descent](http://tutor.rascal-mpl.org/Rascal/Patterns/Abstract/Descendant/Descendant.html) match pattern inside a visit. Often this is not what you want. Because now it would also match for every constructor that has your pattern matched inside somewhere.

[code]

prints:

[code]

[2015-11-09 10:38] DavyLandman commented on #884
Specifically for you problem, you are trying to replace the matched node with a node of a different type.

http://tutor.rascal-mpl.org/Rascal/Statements/Insert/Insert.html

[2015-11-09 10:40] DavyLandman commented on #866
can this issue be closed?

[2015-11-09 10:41] jurgenvinju commented on #866
Yes, the performance is grammar dependent of course. We can't fix anything here.

[2015-11-09 10:41] #866 closed

[2015-11-09 10:43] DavyLandman commented on #33
The message has gotten worse:

[code]

[2015-11-09 10:45] jurgenvinju commented on #33
Let's see what the type checker says.

[2015-11-09 10:52] DavyLandman commented on #45
`toMap` now works correctly.

`index` is still broken. why are they both in the library? aren't they the same?

[2015-11-09 11:05] tvdstorm commented on #889
+1. This also ties in a little with "applying" maps, relations and lists (in addition to `[]`).

[2015-11-09 11:06] DavyLandman commented on #56
I think this issue has inspired enough of a change in Rascal, shall we close it?

[2015-11-09 11:08] PaulKlint commented on #56
Yes indeed!

[2015-11-09 11:08] #56 closed

[2015-11-09 11:43] DavyLandman commented on #101
This works now:

[code]

[2015-11-09 11:49] DavyLandman commented on #116
this one is fixed as @PaulKlint remarked. Tested, it still reports that error.

[2015-11-09 11:49] #116 closed

[2015-11-09 11:53] #232 closed

[2015-11-09 11:55] DavyLandman commented on #220
The new REPL actually prints the reloading in the console.

Compiled version doesn't have this problem at all.

[2015-11-09 11:55] #220 closed

[2015-11-09 11:57] #214 closed

[2015-11-09 11:58] jurgenvinju commented on #220
The compiles does have the same problem, and it would be good to have the user monitor the progress of re-compilation somehow.

[2015-11-09 11:58] DavyLandman commented on #205
still chocking? or can be closed?

[2015-11-09 12:00] DavyLandman commented on #179
since the new REPL this feature has been lost completely.

[2015-11-09 14:38] mahills commented on #205
It still doesn't check, so I'll have to look -- there are actual type errors, but maybe some of the messages can still be improved. I don't have the original error dump to know what differences we are now seeing.

[2015-11-09 14:51] mahills commented on #205
FYI, here are the current messages being displayed:

[code]
I can see if I can turn off some of the cascades, but then we risk missing problems, so it isn't so obvious when we should do this.

[2015-11-09 14:57] pacbeckh opened #890 "ternary for map is executed twice if the key is present in the map."
[code]

executing `m[foo()] ? 0;`. prints:
[code]

If I replace m with (10:10) `m = (10:10)` (or any key, other than 1).  `m[foo()] ? 0;` still prints:
[code]

BUT when i replace m with (1:1) `m = (1:1)`. `m[foo()] ? 0;` prints:
[code]
This also happens if i use an empty map but do something with the result: `m[foo()] ? 0 += 10;`

[2015-11-09 15:00] mahills commented on #33
It gives this message: `Addition not defined on value and tuple[int, int]`. I'm not sure of our intended semantics here, the `?` operator will return the given value for `4` when it isn't present in the map, but it doesn't actually assign `<0,0>` into it. The message you see is because the result with `?` is either a relation or a tuple, which has a supertype of `value`, and then we are trying to

[2015-11-09 19:04] jurgenvinju commented on #33
Yes indeed. So I think we should leave this bug open for now. It's still a hard to understand message. Nice that the type checker catches it so close to the cause BTW.

So the type of `x?y` is `lub(type(x), type(y))`? I think that is correct and probably also necessary for inference purposes. It would be a bit better message if we could point to `<0,0>` for the cause of the type error. If the lub

[2015-11-09 19:20] mahills commented on #33
I think that is correct. The challenge here is that whether this is an error or not is really context dependent. If this were the right-hand side of an assignment, e.g., `z = x?y`, `z` would have type `value`. In this case, it's the left-hand side, so we really want it to be an error. Or, we could always just flag it as an error to use a default that is not a valid element of the map (at least in

[2015-11-09 19:30] mahills commented on #33
One question with the above is what the types on the left-hand side of the `?` can be; if we have a limited collection of these, we can come up with better rules (or maybe we just come up with more precise rules for common cases, like maps).

[2015-11-09 19:34] jurgenvinju commented on #33
I think the type of the left-hand side could basically be anything, since it's the result of a lookup, such that the value of a map, the image of a relation, the type of a field in a constructor or tuple, etc.

Wait... We do know that this type of the right-hand side of `?` should be assignable to the left-hand side. So if we'd check this first, for the example this would yield an error since a `t

[2015-11-09 19:43] mahills commented on #33
Agreed, but if we just have this `returnValue2[4]?<0,0>` then that's just value, since that's the lub of the map range and the tuple, it's only really an issue if we try to assign it back into the map.

[2015-11-09 19:53] jurgenvinju commented on #33
I'm thinking that, intentionally, always the default value after the `?` should be as-if it could have been an element of the range of the map map, but it just isn't yet accidentally because the key is undefined. Same with a keyword parameter for example, if `data F = f(int i = 0)` then `x = f(); x.i?"bla" += 2;` should also label the `"bla"` as wrong because it could never have come from `x.i` as

[2015-11-09 20:07] mahills commented on #33
I'll have to look to see how much it would take to add this, right now this feature's typing doesn't depend on whether the map inside the left-hand expression has been declared with an explicit type or not.

[2015-11-09 20:43] jurgenvinju commented on #33
What if we simply change the type of the entire `?` to the type of the left-hand side? and check if the right hand side is compatible with the left-hand side? Then the right-hand side can not be used for inference anymore, but then again the right-hand side of the surrounding `=` or `+=` should provide the same information.

[2015-11-09 20:53] mahills commented on #33
We can definitely make such a change, the question is whether we would want to. We would be restricting the universe of possible type correct programs, but maybe this wouldn't be a bad thing in this case (and it definitely makes it easier to check).

I think we also may get into inference issues, if I say `myMap = ()` and then say `myMap[4]?1`, I don't actually have a type for `myMap` yet. I think

[2015-11-09 20:59] jurgenvinju commented on #33
In my mind, for assignables, after analyzing `myMap=()` the type of myMap[4] is `void` which is comparable with the type of `1` so no error would be produced. Then `myMap[4]` would be used to deduce the map's domain type is `int` and  `myMap[4]?1 += 1` would infer the type of the range to be `int` as well.

NB. If we are talking about the expression `myMap[4]?1` (and not an assignable left-hand si

[2015-11-09 21:09] mahills commented on #33
I think the checker actually assumes void at the start, not inferred, so you're right (I just haven't had time to go in to the code and check to be sure). This then allows it to "lub it up" to the actual type. This would be the same when we assign into the map, we could then get the  range type. So, we actually aren't starting with an inferred type in these cases.